{% extends  'main/adminbase.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>

</head>
<body>


{%block body_block%}
    <div class = "container-fluid">
      <div class = "container" id = "main_content">


       <div class="jumbotron">
            <h2>Hello {{user.username}}. Welcome to the Dashboard. </h2>
        </div>

        <div class="">





  <div class = "col col-lg-4 col-md-6 col-sm-12">
   <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
     <h3 class = "card-header title"> Evaluators </h3>
     <div class="container">
      <ul class="list-group">
     {% for eval in evaluator %}


         <li class = "list-group-item d-flex justify-content-between"><p>{{eval}}</p>
       <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
           aria-valuemin="0" aria-valuemax="100" style="width:{{eval.perc_completed}}%">
             {{eval.perc_completed}}% Evaluation Completed
           </div>
       </div></li>
       {% endfor %}
     </ul>
     </div>
   </div>

 </div>




</div>
</div>
</div>

{%endblock%}

</body>
</html>
