{% extends 'base.html' %}
{% load static %}

{%block body_block %}
<div class = "container login" id = "main_content" class = "container card border-primary bg-light mb-3 form-row" style="width: 30rem;">
  <form method="post" action = "{% url 'main:evaluatorhome'%}">
    {% csrf_token %}

    <p class = "text-center">
      <img src = "{% static 'assets/images/ulm_logo.png' %}" class="img-fluid" alt="Responsive image" id = "logo" />
    </p>

    <div class="form-group col-auto col-lg-12 login_opts">
        <input name = 'username' type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Username">
        <i class = "fa fa-user"></i>
      </div>

    <div class="form-group col-auto col-lg-12 login_opts">
     <input name='password' type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
     <i class = "fa fa-key"></i>
   </div>

   <div class = "col-auto col-lg-12 login_opts">
    <button type="submit" class = "btn btn-primary btn-block btn-lg ">Log In</button>
  </div>
  </form>
</div>
{% endblock %}
