{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href = "./static/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Merienda|Merriweather|Ropa+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <title>Admin Home</title>

<style>
#main_content{
  margin-top: 2%;
}
</style>

  </head>

  <body>

    <div class = "container-fluid">
      <div class = "container" id = "main_content">
        <h4 class = 'text-right' style = "font-family: 'ropa sans'"> Logged in as {{user.username}} </h4>
        <div class = "row">
          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div class = "card border-primary mb-3">
              <h3 class = "card-header title"> Evaluation Progress </h3>


            </div>
          </div>

          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div class = "card border-primary mb-3">
              <h3 class = "card-header title"> Previous Outcomes </h3>

              <ul class="list-group">
                {% for outcome in outcomes %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{outcome.title}}
                    <button class = "btn btn-warning"> Edit </button>
                  </li>
              {%endfor%}
              </ul>
            </div>
          </div>


          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div class = "card border-primary mb-3">
              <h3 class = "card-header title"> Start a new cycle </h3>

              <form action = "{% url 'main:newCycle' %}" method = "POST" >
                {% csrf_token%}
                <div class="row m-1">
                  <div class="col ">
                     <div class="form-group">
                       <input type="text" name = "year" class="form-control" placeholder="Year" required>
                     </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" name = "semester" class="form-control" placeholder="Semester" required>
                    </div>
                  </div>
                </div>

                <!-- <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select Outcomes
                    </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                  {%for outcome in outcomes%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {{outcome.title}}
                      <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1"  name = "outcomes" value = {{outcome.title}}>
                      </div>
                    </li>
                  {% endfor %}
                  </div>

                </div> -->
              <!-- </div> -->
                <!-- <div class="form-group">
                <div class="dropdown">

                    <button class="btn btn-secondary dropdown-toggle ml-3 mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select Rubrics
                    </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {%for rubric in rubrics%}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{rubric.title}}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        </div>
                      </li>
                    {%endfor%}
                  </div>
                  </div>
                </div> -->

                <div class = "row p-1">
                  <div class = "col col-lg-12 ml-0.5">
                <div class="form-group">
                  <button type = "submit" class = "btn btn-primary btn-lg btn-block">Start</button>
                </div>
                </div>
              </div>
              </form>



            </div>
          </div>

        </div>

        <div class = "row">
          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div class = "card border-primary mb-3">
              <h3 class = "card-header title"> Evaluators </h3>
              <ul class="list-group">
                {%for evaluator in evaluators%}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{evaluator.name}}
                  </li>
                {%endfor%}
              </ul>
            </div>

          </div>

          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div class = "card border-primary mb-3">
              <h3 class = "card-header title"> Previous Rubrics </h3>
              <ul class="list-group">
                {%for rubric in rubrics%}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{rubric.title}}
                    <button class = "btn btn-warning"> Edit </button>
                  </li>
                {%endfor%}
              </ul>
            </div>

          </div>

          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div class = "card border-primary mb-3">
              <h3 class = "card-header title">Running Cycles </h3>
              <ul class="list-group">
                {%for cycle in cycles%}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{cycle.semester}}: {{cycle.year}}
                  <a href = "{% url 'main:cycle' cycle.id %}">
                    <button class = "btn btn-primary"> Visit </button>
                  </a>
                  </li>
                {%endfor%}
              </ul>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div class = "card border-primary mb-3">
              <div class="collapse" id="collapseExample" style = "overflow-y: scroll; max-height: 30vh;">
                <ul class="list-group">
                  {%for notification in notifications%}
                    <p class = "text-left list-group-item">{{notification.student}} got an average of {{notification.grade_score}} on {{notification.rubric}} rubric</p>
                  {%endfor%}
                </ul>
              </div>
          <button class="btn card-header title" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
              Notifications
              <i class="fa fa-chevron-up text-right" aria-hidden="true"></i>
          </button>

        </div>






            <!-- <div class = "card border-warning mb-3">
              <h3 class = "card-header title">Notifications
                  <i class="fa fa-chevron-up text-right" aria-hidden="true"></i>
              </h3>
              <ul class="list-group">
                {%for notification in notifications%}
                  <p class = "text-center list-group-item">{{notification.student}} got an average of {{notification.grade_score}} on {{notification.rubric}} rubric</p>
                {%endfor%}
              </ul>
            </div> -->
          </div>
        </div>






      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script src=".././static/js/progress.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>
