{% extends  'base.html' %}
{%load static%}
<!doctype html>



<head>
<style>
    #main_content{
      margin-top: 2%;
    }
    #card-border-dark-mb-3{
        background: red !important;
    }
</style>

  </head>

{% block body_block%}
  <body>


    <div class = "container-fluid">
      <div class = "container" id = "main_content">
        <h5 class = 'text-right' style = "font-family: 'ropa sans'"> Logged in as {{user.username}} </h5>


       <div class="jumbotron">



            <h2>Hello {{user.username}}. Welcome to the Dashboard. </h2>

        </div>

        <div class = "row">



          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
              <h3 class = "card-header title"> Start a new cycle </h3>

              <form action = "{% url 'main:newCycle' %}" method = "POST" >
                {% csrf_token%}
                <div class="row m-1">
                  <div class="col ">
                     <div class="form-group">
                       <input type="text" name = "year" class="form-control" placeholder="Year" required>
                     </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" name = "semester" class="form-control" placeholder="Semester" required>
                    </div>
                  </div>
                </div>


                <div class = "row p-1">
                  <div class = "col col-lg-12 ml-0.5">
                <div class="form-group">
                  <button type = "submit" class = "btn btn-primary btn-lg btn-block">Start</button>
                </div>
                </div>
              </div>
              </form>



            </div>
          </div>





          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
              <h3 class = "card-header title"> Previous Cycles </h3>
              <ul class="list-group">
                {%for cycle in cycles%}
                  {%if cycle.isCurrent == False %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{cycle.semester}}: {{cycle.year}}
                  <a href = "{% url 'main:cycle' cycle.id %}">
                    <button class = "btn btn-primary"> Visit </button>
                  </a>
                  </li>
                  {%endif%}
                {%endfor%}
              </ul>
            </div>

          </div>

          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
              <h3 class = "card-header title">Running Cycles </h3>
              <ul class="list-group">
                {%for cycle in cycles%}
                  {%if cycle.isCurrent %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{cycle.semester}}: {{cycle.year}}
                  <a href = "{% url 'main:cycle' cycle.id %}">
                    <button class = "btn btn-primary"> Visit </button>
                  </a>
                  </li>
                  {%endif%}
                {%endfor%}
              </ul>
            </div>
          </div>


        <div class = "col col-lg-4 col-md-6 col-sm-12">
                    <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
                        <h3 class = "card-header title">Rubrics</h3>
                        <ul id = "over" class="list-group">
                            {%for rubric in rubrics%}

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{rubric.title}}
                            <a href = "{%url 'main:edit_rubric' rubric.id%}" class = "btn btn-warning">Edit</a>
                             </li>

                            {%endfor%}

                        </ul>
                    </div>
        </div>

        <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
              <div class="collapse" id="collapseExample" style = "overflow-y: scroll; max-height: 30vh;">
                <ul class="list-group">
                  {%for notification in notifications%}
                    <p class = "text-left list-group-item">{{notification.student}} got an average of {{notification.grade_score}} on {{notification.rubric}} rubric</p>
                  {%endfor%}
                </ul>
              </div>
          <button class="btn card-header title" type="button" data-toggle="collapse" data-target="#collapseExample"
           aria-expanded="false" aria-controls="collapseExample" >
              Notifications
              <i class="fa fa-chevron-up text-right" aria-hidden="true"></i>
          </button>

        </div>
      </div>
        </div>
    </div>




     </div>


{%endblock%}
