{% extends  'main/adminbase.html' %}
{%load static%}

<style>
.card-header {
    background-color: #800029;
    color: rgb(252, 248, 242);
}
.border-dark{
  border-color: #800029 !important;
}

hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
  color: #dad86d9;
}



</style>

{%block body_block%}
<div class = "container" id = "main_content">

<div class = "container-fluid">
    <div class = "row">

      <div class = "col col-lg-8 col-md-12 col-sm-12 col-xs-12 col-12">

         <div class = "card border-dark mb-3">
           <h3 class = "card-header title text-center"> Evaluator Progress </h3>
           <div class="container" style="overflow-y:auto; height: 35vh">
            <ul class="list-group list-group-flush " >
           {% for eval in evaluator %}

               <li class = "list-group-item d-flex justify-content-between d-flex align-items-center">{{eval}}


             <div class="progress progress-admin ">
                 <div class="progress-bar bg-danger " role="progressbar" aria-valuenow="40"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{eval.perc_completed}}%">
                   {{eval.perc_completed|floatformat:0}}% Evaluation Completed
                 </div>
             </div>


           </li>
              {%empty%}

              <div class="jumbotron jumbotron-fluid" style="  background-color: rgb(252, 243, 229);">

                <div class="container">

                  <h1>No evaluators present in the running cycles</h1>
                  <p class="lead">Please assign evaluators to see the data</p>
                </div>
              </div>
             {% endfor %}
           </ul>
           </div>
         </div>

       </div>


     <div class = "col col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
       <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
         <h3 class = "card-header title text-center">Running Cycles </h3>
         <ul class="list-group" style="overflow-y:auto; height: 35vh">
           {%for cycle in cycles%}
             {%if cycle.isCurrent %}
             <li class="list-group-item d-flex justify-content-between align-items-center">
               {{cycle.semester}}: {{cycle.year}}
             <a href = "{% url 'main:cycle' cycle.id %}">
               <button class = "btn btn-primary"> Visit </button>
             </a>
             </li>
             {%endif%}
             {%empty%}
             <br/>
             <div class="jumbotron jumbotron-fluid" style="  background-color: rgb(252, 243, 229);">
               <div class="container">
                 <h1 class="display-5">No running cycles</h1>
                 <p class="lead">Click <a href = "{%url 'main:cycles'%}">here </a> to add cycles</p>
               </div>
             </div>
           {%endfor%}
         </ul>
       </div>
     </div>

</div>

<hr/>

<div class = "row">


     <div class = "col col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">

         <div class = "col col-lg-12 col-md-12 col-sm-12">
                   <div  class = "card border-dark mb-3 justify-content-center" >
                     <h3 class = "card-header title">
                     <div class = " text-center">
                      Outcomes and their progress
                     </div>
                     </h3>

         <ul id = "over" class="list-group" style="overflow-y:auto; height: 35vh">
     {%for outcome in outcomes%}
         <div class="accordion" id="accordionExample">
           {%for cycle in outcome.cycle.all%}
             {%if cycle.isCurrent%}





           <div class="card" >
             <div class="card-contents" id="headingOne" data-toggle="collapse" data-target="#collapseOne{{outcome.id}}" aria-expanded="true" aria-controls="collapseOne">
               <h2 class="mb-0 d-flex justify-content-between" >
                 <span class="btn text-left"  style="text-decoration:none;">
                   <h5 class = "outcome_title">  {{outcome.title}} </h5>
                 </span>
                 <i class="fas fa-chevron-down mr-4 justify-items-center" style="color:#7a2831"></i>

               </h2>
             </div>

             <div id="collapseOne{{outcome.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
               <div class="card-body justify-content-between">
                 <ul class="list-group">
                   {%for measure in measures%}
                     {%if measure.outcome == outcome%}
                     <div class = "row ">
                       <div class = "col col-lg-12 d-flex justify-content-between" style="cursor: pointer;">
                           <span class = "badge badge-info mb-2 p-2 " data-toggle="modal" data-target="#exampleModalCenter{{measure.id}}">
                           {{measure.cutoff_percentage}} % of the students need to get
                           {%if measure.cutoff_score%}
                            {{measure.cutoff_score}}
                            {%else%}
                            average
                            {%endif%}
                               or higher
                           on {{measure.tool_type}}:
                           {%if measure.tool_type == "Rubric"%}
                             <strong>{{measure.rubric}}</strong>
                           {%elif measure.tool_type == "Test score"%}
                             <strong>{{measure.test_score}}</strong>
                           {%endif%}
                           </span>

                           <div class="modal fade" id="exampleModalCenter{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                             <div class="modal-dialog modal-dialog-centered" role="document">
                               <div class="modal-content">
                                 <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLongTitle">Detailed Stats - {{measure}}</h5>
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                   </button>
                                 </div>
                                 <div class="modal-body">
                                   <div class="card bg-light mb-3">
                                     <div class="card-body ">
                                    <div class = "d-flex justify-content-between">   <h5>Tool type </h5> <span class ="badge badge-info" style="padding: 10px;">{{measure.tool_type}}</span></div>
                                       <p class="card-text">

                                           {%for k, v in data.items %}

                                             {%if v.measure.id == measure.id%}

                                            <div class = "d-flex justify-content-between"> <h5>Total evaluators </h5> <span class="badge badge-primary" style="padding: 10px;"> {{v.evaluator_count}} </span> </div><br>
                                            <div class = "d-flex justify-content-between"><h5> Total students evaluated </h5><span class="badge badge-primary" style="padding: 10px;">{{v.evaluated_student_count}}</span> </div> <br>
                                            <div class = "d-flex justify-content-between"> <h5>Percentage passed</h5> <span class="badge badge-primary" style="padding: 10px;"> {{v.percent_pass_cases|floatformat:2}}%</span> </div> <br>
                                            <div class = "d-flex justify-content-between"> <h5>Status </h5> {% if v.passed%}<span class="badge badge-success" style="padding: 10px;"> passed </span> {%else%} <span class="badge badge-danger" style="padding: 10px;"> failed </span> {%endif%} </div> <br>


                                             {%endif%}
                                           {%endfor%}
                                           <div class = "progress " style="background:#9aa1a7;">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:{{measure.statusPercent}}%;
                                                                          {%if measure.status == 'passing'%}
                                                                            background:green;
                                                                          {%elif measure.status == 'failing'%}
                                                                            background:red;
                                                                          {%endif%}
                                                                        ">
                                                            Satisfied
                                                            by {{measure.statusPercent|floatformat:0}}%
                                                            </div></div>


                                       </p>
                                     </div>
                                   </div>



                                 </div>
                               </div>
                             </div>
                           </div>




                           <span>
                           {%if measure.status == 'passing'%}
                           <span class="badge badge-success" style="padding: 10px;"> {{measure.status}}</span>
                           {%elif measure.status == 'failing'%}
                           <span class="badge badge-danger" style="padding: 10px;"> {{measure.status}}</span>
                           {%endif%}
                          </span>
                       </div>

                     </div>
                     {%endif%}
                   {%endfor%}
                 </ul>
               </div>
             </div>
     </div>
           {%endif%}
           {%endfor%}
             <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Learning Outcome Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action = "" method="POST">
                  {%csrf_token%}
                  <input type="hidden" id="url" name = "url" value={{request.path}}>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Title</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "outcome_title"></textarea>
                  </div>

                  <div class="form-group">
                   <label for="exampleFormControlSelect2">Select Courses for the outcome</label>
                   <select multiple class="form-control" id="exampleFormControlSelect2" name="course">
                     {%for course in courses%}
                     <option value="{{course.id}}">{{course.title}}</option>
                     {%endfor%}
                   </select>
                 </div>


                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
         </div>



         {%empty%}
         <br/>
         <div class="jumbotron jumbotron-fluid" style="  background-color: rgb(252, 243, 229);">
           <div class="container">
             <h1 class="display-5">No outcomes present</h1>
             <p class="lead">Go to the current cycle and add outcomes </p>
           </div>
         </div>


   {%endfor%}
 </div>
 </div>
 </div>


      </div>




</div>










</div>








<!-- <div class="instructions">
</div> -->






<script type="text/javascript">
  $(document).ready(function(){
    $('a[data-toggle = "list"]').on('show.bs.tab',function(e){
      localStorage.setItem('activeTab',
      $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    console.log(activeTab);
    if(activeTab){
      $('#list-tab a[href="' + activeTab + '"]').tab('show');
    }
  });
</script>



{%endblock%}
