{%load static%}

<!DOCTYPE html>
<html>
<head>
	<title>Create Rubrics</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS cdn to connect bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href = "{% static 'css/landing.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Lato|Merienda|Merriweather|Ropa+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script type="text/javascript" src = "{%static 'js/script.js'%}"></script>

<style>
textarea{
	font-size: 1rem;
	height: 200%;
}
#main_content{
	border: 3px solid black;
	padding: 2%;
	margin-top: 4%;
}


</style>
</head>

<body>

  <div class = "container-fluid" >
		<div class = "container" id = "main_content">
    <form action = "{% url 'main:created_test_rubric'%}" method = "POST">
      {%csrf_token%}
			<h1 class = "text-center">Use the Template to Create a Custom Rubric</h1>
			<div class="form-row">
				<div class = "col-6">
			    <input type="text" class="form-control" id="exampleInputPassword1"
					 placeholder="enter the title of the rubric" name="rubric_title" required>
				</div>
			</div>
				<br />
        <table class = "table table-bordered table-responsive">

      {%for row in rows%}
      <tr>
        {%for col in cols%}
				{%if row == 0%}
		  		{% if isWeighted and col == colmin%}
		  		<div class = "form-group">
					<td><input class="form-control" id="exampleFormControlTextarea1" value= "Weights" name = "{{row}}{{col}}"></td>
				</div>
		  		{%else%}
				<div class = "form-group">
					<td> <input class="form-control" id="exampleFormControlTextarea1" name = "{{row}}{{col}}"></td>
				</div>
		  {%endif%}
				{%else%}
				<div class = "form-group">
          <td> <textarea rows="5" class="form-control" id="exampleFormControlTextarea1" name = "{{row}}{{col}}"></textarea></td>
				</div>
				{%endif%}
        {%endfor%}
        </tr>
      {%endfor%}
			  </table>
      <input type = "hidden" value = "{{row_num}}" name = "row_num">
      <input type = "hidden" value = "{{col_num}}" name = "col_num">
		<input type = "hidden" value = "{{isWeighted}}" name = "isWeighted">
		<input type = "hidden" value = "{{isAsc}}" name = "isAscending">
      <button class = "btn btn-primary btn=lg" type = "submit"> Add Rubric </button>
			<br>
			<br>
			 <div class="container">
	   <!-- Trigger the modal with a button -->
	   <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Help</button>

	   <!-- Modal -->
	   <div class="modal fade" id="myModal" role="dialog">
	     <div class="modal-dialog">

	       <!-- Modal content-->
	       <div class="modal-content">
	         <div class="modal-header">
	           <button type="button" class="close" data-dismiss="modal">&times;</button>
	           <h4 class="modal-title">Admin Help</h4>
	         </div>
	         <div class="modal-body">
	           <h5>Create Rubric Instructions</h5>
	           <ol>
							 <li>Fill out the first row with the grading value labels <ul><li>ie. 1, 2, 3, 4</li><li> poor, average, mastery</li><li>The order depends on whether you chose ascending or descending during initiating the creation</li></ul></li>
							 <li>Fill out the first column with the grading criteria</li>
							 <li>Fill out the remaining rows of the rubric with the grading descriptions associated with the rows criteria and the value associated with that column</li>
	           </ol>
	         </div>
	         <div class="modal-footer">
	           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	         </div>
	       </div>

	     </div>
	   </div>

	 </div>
    </form>
</div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src = "{% static 'js/app.js'%}"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
