{% extends  'main/adminbase.html' %}
{%load static%}

{%block body_block%}
    <div class = "container-fluid">
      <div class = "container" id = "main_content">


           <div class = "col col-lg-4 col-md-12 col-sm-12 col-xs-12">
             <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
               <h3 class = "card-header title text-center"> Start a new cycle </h3>

               <form action = "{% url 'main:newCycle' %}" method = "POST" >
                 {% csrf_token%}
                 <div class="row mt-4 ml-2 mr-2">
                   <div class="col ">
                      <div class="form-group">
                        <input type="text" name = "year" class="form-control" placeholder="Year" required>
                      </div>
                   </div>
                   <div class="col">
                     <div class="form-group">
                       <input type="text" name = "semester" class="form-control" placeholder="Semester" required>
                     </div>
                   </div>
                 </div>


                 <div class = "row p-1">
                   <div class = "col col-lg-12 ml-0.5">
                 <div class="form-group">
                   <button type = "submit" class = "btn btn-primary btn-lg btn-block">Start</button>
                 </div>
                 </div>
               </div>
               </form>

               </div>
               </div>

          <div class = "col col-lg-4 col-md-12 col-sm-12 col-xs-12">
           <div id= "card-border-dark-mb-3" class = "card border-dark mb-3" >
             <h3 class = "card-header title text-center"> Previous Cycles </h3>
             <ul class="list-group" style="overflow-y:scroll; height: 40vh">
               {%for cycle in cycles%}
                 {%if cycle.isCurrent == False %}
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                   {{cycle.semester}}: {{cycle.year}}
                 <a href = "{% url 'main:cycle' cycle.id %}">
                   <button class = "btn btn-primary"> Visit </button>
                 </a>
                 </li>
                 {%endif%}
               {%endfor%}
             </ul>
           </div>

         </div>

         <div class = "col col-lg-4 col-md-12 col-sm-12 col-xs-12">
           <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
             <h3 class = "card-header title text-center">Running Cycles </h3>
             <ul class="list-group">
               {%for cycle in cycles%}
                 {%if cycle.isCurrent %}
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                   {{cycle.semester}}: {{cycle.year}}
                 <a href = "{% url 'main:cycle' cycle.id %}">
                   <button class = "btn btn-primary"> Visit </button>
                 </a>
                 </li>
                 {%endif%}
               {%endfor%}
             </ul>
           </div>
         </div>



</div>

</div>


{%endblock%}
