{% extends  'main/adminbase.html' %}
{% load static %}
{% block body_block %}
<style>
  hr.style15 {
border-top: 4px double #8c8b8b;
text-align: center;
}
hr.style15::after {
content: 'or';
display: inline-block;
position: relative;
top: -15px;
padding: 0 10px;
color: #7a2831;
font-size: 18px;
background: #f5efe6;
}

  .list-group-item-action:focus, .list-group-item-action:hover {
      z-index: 1;
      color: #495057;
      background-color: #cae3fb;
      text-decoration: none;
      font-style: oblique;
  }
  .badge{
    white-space: inherit;
  vertical-align: text-top;
  }
@media only screen and (max-width: 375px) {
  .d-flex {
    display: inline-flex;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }
}

@media only screen and (max-width: 320px) {
    .d-flex{
        display: inline-flex !important;
    }
    .list-group-item {
    position: relative;
    display: block;
    padding: 0px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }
}
@media only screen and (max-width: 425px) {
  h5 {
    font-size: 0.8rem !important;
  }
}

</style>
<div class = "container-fluid" id = "main_content">

  <div class = "row d-flex justify-content-center  ">

      <div class = "col col-lg-2 col-md-12 col-sm-12 col-xs-12 col-12">
        <div class="card border-dark mb-3">
            <div class="card-header text-center"><h4>{{cycle.semester}} {{cycle.year}}</h4></div>
            <div class="card-body text-dark text-center">
              <h5 class="card-title">Started at</h5>
              <p class="card-text">{{cycle.startDate}}</p>
              <hr>
              {%if cycle.isCurrent == False%}
                <h5 class="card-title">Ended at</h5>
                <p class="card-text">{{cycle.endDate}}</p>
                <hr>
              {%endif%}
              <h5 class="card-title">Created by</h5>
              <p class="card-text">{{user.username}}</p>
              <hr>
              {%if cycle.isCurrent%}
              <a href = "{% url 'main:end_cycle' cycle_id%}"class = "btn btn-lg btn-danger mb-3">
                End Cycle
              </a>
                <a  href = "{%url 'main:generate_cycle_report' cycle_id%}" class = "btn btn-lg btn-success mb-3">
                 View Report
               </a>


              {%else%}
              <a href = "{%url 'main:reactivate_cycle' cycle_id%}"class = "btn btn-lg btn-success btn-lg">
                Reactivate
              </a>
              {%endif%}

            </div>
          </div>


          <!-- <div class = "card border-dark mb-3">
            <h4 class = "card-header title text-center"> Create a curriculum </h4>
            <div class="container p-2">
              <form action = "{%url 'main:create_curriculum'%}" method = 'POST'>
                {%csrf_token%}
              <div class="form-group">
                <label for="exampleFormControlSelect2">Course Title</label>
                <input class="form-control" type="text" name="title"></input>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Credit hours</label>
                <input class="form-control" type="number" name="credit_hours"></input>
              </div>

              <div class = "text-center">
                <button type="submit" class="btn btn-primary btn-lg">Create</button>
              </div>
            </form>
            </div>
          </div> -->

      </div>


    <div class = "col col-lg-10 col-md-12 col-sm-12 col-xs-12 col-12 ">
      <div class = "card border-dark">
    <h1 class="d-flex justify-content-between card-header">  Learning outcomes
    {%if cycle.isCurrent%}
          <button type="button" class="btn btn-primary btn-lg mt-1" data-toggle="modal" data-target="#exampleModalCenter1">
           <i class="fas fa-plus" data-toogle="tooltip" title="Add Outcome"></i>
          </button>
    {%endif%}
    </h1>

      <div class="list-group list-group-flush">
      {%for outcome in outcomes%}
      <div class = "d-flex justify-content-center p-2">
      <div class=" d-flex w-100 justify-content-between">
          <a href="{%url 'main:outcome_detail' outcome.id%}" class="list-group-item list-group-item-action">
              <h5 class="mb-1 p-1">{{outcome.title}}
              {%if outcome.status_help == "failing" %}
                <div class="badge badge-pill badge-danger" style="font-size:initial;">failing</div>
              {%elif outcome.status_help == "passing" %}
                <div class="badge badge-pill badge-success" style="font-size:initial;">passing</div>
              {%elif outcome.status_help == "notstarted" %}
                <div class="badge badge-pill badge-info" style="font-size:initial;">Not Started</div>
                  {% else %}
                  <div class="badge badge-pill badge-warning" style="font-size:initial;">pending</div>
              {%endif%}
              </h5>
          </a>
      </div>

        <div class="btn-group align-items-center">
          <a  href = "" class = "btn btn-lg "  data-toggle="modal" data-target="#exampleModalCenterEditOutcome{{outcome.id}}">
            <span style="font-size: 2em; color: #bd955a;">
              <i data-toogle="tooltip" title="Edit Outcome"class="far fa-edit"></i>
          </span>
          </a>

          <a  href = "{%url 'main:generate_outcome_report' outcome.id%}" class = "btn btn-lg ">
            <span style="font-size: 1.8em; color: #bd955a;">
               <i data-toogle="tooltip" title="Generate Report" class="fas fa-file-contract"></i>
          </span>
          </a>


          <div class="modal fade" id="exampleModalCenterEditOutcome{{outcome.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Outcome</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form action="{%url 'main:update_outcome' outcome.id cycle_id%}" method="POST">
                    {%csrf_token%}
                    <input type="hidden" id="url" name = "url" value={{request.path}}>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Outcome Title</label>
                      <input type = 'text' class="form-control" name = "outcome_title" value = "{{outcome.title}}">
                    </div>

                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Outcome Description</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                name = "outcome_desc">{{outcome.desc}}
                      </textarea>
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect2">Select Courses for the the outcome</label>
                     <select multiple class="form-control custom-select" id="exampleFormControlSelect2" name="course">
                       {%for course in courses%}
                        {%if course in outcome.course.all%}
                        <option value="{{course.id}}" selected>{{course.title}}</option>
                        {%else%}
                        <option value="{{course.id}}">{{course.title}}</option>
                        {%endif%}
                       {%endfor%}
                     </select>
                   </div>

                   <div class = "text-right">
                     <a href = "" data-toggle="modal" data-target="#exampleModalCenterCreateCourse"> Create a new Course </a>
                  </div>



                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <a  href = "#" class = "btn btn-lg" style = "margin-left: 5px;" data-toggle="modal" data-target="#exampleModalCenterDeleteOutcome{{outcome.id}}">
            <span style="font-size: 2em; color: #7a2831;">
              <i data-toogle="tooltip" title="Delete Outcome" class="far fa-trash-alt"></i>
          </span>
          </a>

          <div class="modal fade" id="exampleModalCenterDeleteOutcome{{outcome.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Outcome</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form action="{%url 'main:delete_outcome' outcome.id cycle_id%}" method="POST">
                    {%csrf_token%}
                    <input type="hidden" id="url" name = "url" value={{request.path}}>
                    <h3> Are you sure? </h3>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

      </div>

      </div>


      {%empty%}
      <div class="jumbotron jumbotron-fluid" style="background-color:#f7f7f7;">
        <div class="container text-center ">
          <h1 class="display-4">No outcomes yet</h1>
          <p class="lead">Click the <strong style="font-size: 2rem;"> + </strong> icon above to add outcomes</p>
          <hr>
          <p> or </p>
          <a class = "btn btn-lg btn-dark" href="" data-toggle="modal" data-target="#exampleModalCenterMigrateCycle"> Migrate</a>
        </div>
      </div>

  {%endfor%}
  </div>
  </div>
</div>

      <div class="modal fade" id="exampleModalCenterMigrateCycle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Migrate Cycle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action = "{%url 'main:migrate_cycle' cycle_id%}" method="POST">
                      {%csrf_token%}
                      <input type="hidden" id="url" name = "url" value={{request.path}}>

                      <div class="form-group">
                       <label for="exampleFormControlSelect1">Select from the cycles</label>
                       <select class="form-control" id="exampleFormControlSelect1" name = "cycle_migrate">
                         {%for cycle in prev_cycles%}
                         <option value = "{{cycle.id}}">{{cycle.semester}} {{cycle.year}}</option>
                        {%endfor%}
                       </select>
                     </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Migrate</button>
                      </div>
                    </form>
                  </div>

              </div>
            </div>

      </div>

      <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Learning Outcome Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action = "{%url 'main:add_learning_outcome' cycle_id%}" method="POST">
                  {%csrf_token%}
                  <input type="hidden" id="url" name = "url" value={{request.path}}>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Outcome Title</label>
                    <input type = 'text' class="form-control" name = "outcome_title">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Outcome Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              name = "outcome_desc">
                    </textarea>
                  </div>

                  <div class="form-group">
                   <label for="exampleFormControlSelect2">Select Courses for the outcome</label>
                   <select multiple class="form-control" id="exampleFormControlSelect2" name="course">
                     {%for course in courses%}
                     <option value="{{course.id}}">{{course.title}}</option>
                     {%endfor%}
                   </select>
                 </div>
                 <div class = "text-right">
                   <a href = "" data-toggle="modal" data-target="#exampleModalCenterCreateCourse"> Create a new Course </a>
                </div>

                  <br/>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>

                <hr class = "style15" />
                <form action = "{%url 'main:migrate_outcome' cycle_id%}" method="POST">
                  {%csrf_token%}
                  <div class="form-group">
                   <label for="exampleFormControlSelect2">Select from pre existing outcomes</label>
                   <select multiple class="form-control" id="exampleFormControlSelect2" name="outcomes">
                     {%for outcome in all_outcomes%}
                     <option value="{{outcome.id}}">{{outcome.title}}</option>
                     {%endfor%}
                   </select>
                 </div>
                 <button type="submit" class="btn btn-primary">Save changes</button>

                </form>
              </div>
          </div>
        </div>
      </div>






      <div class="modal fade" id="exampleModalCenterCreateCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"> Create a curriculum </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <br/>
      <div class = "card border-dark mb-3">
        <div class="container p-2">
          <form action = "{%url 'main:create_curriculum'%}" method = 'POST'>
            {%csrf_token%}
          <div class="form-group">
            <label for="exampleFormControlSelect2">Course Title</label>
            <input class="form-control" type="text" name="title" required></input>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" >Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" required></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" >Credit hours</label>
            <input class="form-control" type="number" name="credit_hours" required min=1></input>
          </div>

          <div class = "text-center">
              <input type = "hidden" name="url1" id="url1" value="{{request.get_full_path}}">

            <button type="submit" class="btn btn-primary btn-lg">Create</button>
            <br/>
          </div>
        </form>
        </div>
      </div>
    </div>
</div>
</div>
</div>



</div>
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>


{%endblock%}
