
{% extends  'base.html' %}
{% load static %}
{% block body_block %}
<style>
  body{
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(318deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
  #main_content{
    margin-top: 2vh;
    border: 0.7px solid #BF360C;
    border-radius: 15px;
    width: auto;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: -1px 3px 17px -1px rgba(22,22,2,0.58);
    -webkit-box-shadow: -1px 3px 17px -1px rgba(22,22,2,0.58);
    -moz-box-shadow: -1px 3px 17px -1px rgba(22,22,2,0.58);
  }
  .title{
    background-color: #B71C1C;
    color: white;
    font-family: 'Merienda';
  }
  input{
    margin-right: 10px;
  }
.btn-link{
    text-decoration: none !important;
  }
</style>
<div class = "container" id = "main_content">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Learning Outcomes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'main:upload'%}">Upload data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'main:rubric'%}">Create a rubric</a>
      </li>
    </ul>
  </div>
</nav>

  <div class = "row">
    <div class = "col col-lg-6 ">
<h3 class = "list-group-item active">
     Learning outcomes
</h3>



<div class="accordion" id="accordionExample">
  {%for outcome in outcomes%}
    {% with outcome.id as outcome_id %}
<div class="card">
  <div class="card-header" id="headingOne">
    <h2 class="mb-0">
      <button class="btn btn-link stretched-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <p>{{outcome.title}}</p>
      </button>
    </h2>
  </div>

  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      {%for measure in measures %}
        {%if measure.outcome == outcome %}
        <p>  {{measure.measureTitle}} </p>
        <p>  {{measure.measureText}}  </p>
        {%endif%}
      {%endfor%}
    </div>
  </div>
</div>
<div class = "btn btn-warning"> Assign Tools</div>

  {%endwith%}
{%endfor%}
</div>
</div>
<div class = "col col-lg-6">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add a new learning objective
  </button>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Learning Outcome Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "{%url 'main:add_learning_outcome'%}" method="POST">
            {%csrf_token%}

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Title</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "outcome_title"></textarea>
            </div>
<hr/>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Measure Title</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Measure title" name = "measure_title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Measure Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "measure_desc"></textarea>
          </div>




            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
<!-- <div class = "col col-lg-6">

  <ul class="list-group">
  <li class="list-group-item active ">Evaluators</li>
  {%for evaluator in evaluators %}
    <li class="list-group-item">{{evaluator.name}}</li>
  {%endfor%}

  <li class="list-group-item">
    <form class="form-inline" method="POST" action ="{%url 'main:add_evaluator'%}">
      {% csrf_token %}
      <div class="form-group mb-2 mr-3">
        <input type="text" name = "evaluator_name" class="form-control"  placeholder="name">
        <input type="email" name = "evaluator_email" class="form-control" placeholder="email">
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-2">Invite</button>
  </form>

  </li>
</ul>
</div> -->



{%endblock%}
