{% extends  'main/adminbase.html' %}
{%load static%}
{% block body_block %}
<style media="screen">
  th{
    text-align:center;
    vertical-align: middle;
  }
  .card-header {
    background: #800029;
margin-bottom: 10px;
}
  h2{
    margin-top: 10px;
  }

  textarea{
  	font-size: 1rem;
  	height: 200%;
  }

</style>

<div class="container">


<h2 class="card-header"><center>2013-2015 Computer Science Assessment Cycle- Summary Of Results</center></h2>
<div class="table-responsive">
<table class="table table-bordered table-hover table-sm">
  <tr>
    <th class="align-middle">Outcome</th>
    <th class="align-middle">Measure</th>
    <th class="align-middle">Number of Evaluations</th>
    <th class="align-middle">Number meeting Criteria</th>
    <th class="align-middle">Percentage Meeting Criteria</th>
    <th class="align-middle">Results</th>
    <th class="align-middle">Use of Results/Actions Taken</th>
  </tr>
{%for outcome in outcomes%}


{%for d in data%}
  {%if d.7 == outcome.id%}
<tr>
      <td rowspan="{{data.d.6}}"> {{d.2}} </td>
      <td>{{d.3}}</td>
      <td >{{d.0}} </td>
      <td >{{d.1}} </td>
      <td>{{d.4|floatformat:2}} </td>
      <td>{{d.5}}</td>
</tr>

  {%endif%}
{%endfor%}
{%endfor%}

</table>
</div>
</div>

{% endblock %}
