{% extends  'base.html' %}
{% load static %}
{% block body_block %}

<style>

  .objs{
    border: 3px solid black;
    padding: 0.7%;
    align:center;
  }
  #main_content{
    margin: 1%;
  }
</style>


<div class = "container-fluid" id = "main_content">

  <div class = "row d-flex justify-content-center ">
    <div class = "col col-lg-6 objs ">
    <h1 class="text-center d-flex justify-content-between">  Learning outcomes

      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
       <i class="fas fa-plus"></i>
      </button>
    </h1>
      <div class="list-group">
      {%for outcome in outcomes%}
      <div class="d-flex w-100 justify-content-between">
          <a href="{%url 'main:outcome_detail' outcome.id%}" class="list-group-item list-group-item-action">

              <h5 class="mb-1 p-1">{{outcome.title}}</h5>

          </a>
          </div>
          <button class="btn btn-lg" >
            <span style="font-size: 2em; color: black;">
              <i class="far fa-edit"></i>
          </span>
          </button>




          {%endfor%}
  </div>
    </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Learning Outcome Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action = "{%url 'main:add_learning_outcome' cycle_id%}" method="POST">
                  {%csrf_token%}
                  <input type="hidden" id="url" name = "url" value={{request.path}}>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Title</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "outcome_title"></textarea>
                  </div>


                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>

          </div>
        </div>

      </div>


    <br/>




</div>



</div>





{%endblock%}
