<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <a class="navbar-brand" href="#">Home</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills mb-3 mr-auto" id = "pills-tab" role="tablist">
          <li class="nav-item ">
            <a class="nav-link active" id = "pills-curentcyctab" data-toggle = "pill" href="#pills-current" role="tab" aria-controls = "pills-current" aria-selected = "true">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "pills-prevcyctab" data-toggle = "pill" href="#pills-prev" role="tab" aria-controls = "pills-prev" aria-selected = "false">Previous Cycles <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" id = "pills-outcometab" data-toggle = "pill" href="#pills-outcome" role="tab" aria-controls = "pills-outcome" aria-selected = "false">Outcomes <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" id = "pills-evaluatortab" data-toggle = "pill" href="#pills-evaluator" role="tab" aria-controls = "pills-evaluator" aria-selected = "false">Evaluators <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" id = "pills-rubrictab" data-toggle = "pill" href="#pills-rubric" role="tab" aria-controls = "pills-rubric" aria-selected = "false">Rubrics <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            {% if user.is_superuser %}
              <a class = "nav-link" href="{%url 'main:evaluatorhome'%}"> Act as an Evaluator</a>
            {% endif %}
          </li>

        </ul>
      </div>
    </nav>
    <p></p>
    <div class ="tab-content" id ="pills-tabContent" >


    <div class="tab-pane show active"  role="tabpanel" aria-labelledby="pills-currentcyctab"id="pills-current">
      <div class="container">
        <div class="row">

          <div class = "col col-lg-4 col-md-6 col-sm-12">
              <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
                <h3 class = "card-header title">Running Cycles </h3>
                <ul class="list-group">
                  {%for cycle in cycles%}
                    {%if cycle.isCurrent %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {{cycle.semester}}: {{cycle.year}}
                    <a href = "{% url 'main:cycle' cycle.id %}">
                      <button class = "btn btn-primary"> Visit </button>
                    </a>
                    </li>
                    {%endif%}
                  {%endfor%}
                </ul>
              </div>
            </div>

          <div class = "col col-lg-4 col-md-6 col-sm-12">
            <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
              <h3 class = "card-header title"> Start a new cycle </h3>

              <form action = "{% url 'main:newCycle' %}" method = "POST" >
                {% csrf_token%}
                <div class="row m-1">
                  <div class="col ">
                     <div class="form-group">
                       <input type="text" name = "year" class="form-control" placeholder="Year" required>
                     </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" name = "semester" class="form-control" placeholder="Semester" required>
                    </div>
                  </div>
                </div>


                <div class = "row p-1">
                  <div class = "col col-lg-12 ml-0.5">
                <div class="form-group">
                  <button type = "submit" class = "btn btn-primary btn-lg btn-block">Start</button>
                </div>
                </div>
              </div>
              </form>



            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="tab-pane" role="tabpanel" aria-labelledby="pills-prevcyctab" id="pills-prev">
      <div class="container">
        <div class="row">
          <div class = "col col-lg-4 col-md-6 col-sm-12">
              <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
                <h3 class = "card-header title"> Previous Cycles </h3>
                <ul class="list-group">
                  {%for cycle in cycles%}
                    {%if cycle.isCurrent == False %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {{cycle.semester}}: {{cycle.year}}
                    <a href = "{% url 'main:cycle' cycle.id %}">
                      <button class = "btn btn-primary"> Visit </button>
                    </a>
                    </li>
                    {%endif%}
                  {%endfor%}
                </ul>
              </div>

            </div>

        </div>

      </div>

    </div>


      <div class="tab-pane" role="tabpanel" aria-labelledby="pills-outcometab" id="pills-outcome">
        <div class="container">
          <div class="row">
            <div class = "col col-lg-4 col-md-6 col-sm-12">
                <div id= "card-border-dark-mb-3" class = "card border-dark mb-3">
                  <h3 class = "card-header title"> Outcomes </h3>
                    <ul class="list-group">
                      {%for cycle in cycles%}
                        {%if cycle.isCurrent == true %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          {{outcome.title}}
                        </li>
                        {%endif%}
                      {%endfor%}
                    </ul>

                </div>
             </div>

          </div>

        </div>

      </div>


    </div>


  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
