{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class = "container" id = "main_content">
  <div class = "col-lg-12">
    <form action = "{%url 'main:evaluate_single_student'%}" method = "POST">
      {%csrf_token%}
        <label for="exampleFormControlSelect1">Evaluate a student</label>
             <select class="form-control" name = "student_to_be_evaluated">
                   {% for student in students %}
                        <option value = "{{student.name}}">{{student.name}}</option>
                  {%endfor%}
              </select>




    <h1> {{rubric.title}} </h1>
    <table class = "table table-bordered table-responsive">
        {% for x in row_num%}
          <tr>
          {% for y in col_num%}
            {% for category in categories %}

              {%if category.rubric == rubric %}
                {% if category.index_x == x and category.index_y == y %}
                  <td> {{category.categoryTitle}} </td>
                {%endif%}
              {%endif%}
            {%endfor%}

          {% endfor %}
          {%if x <= 0 %}
          <td> Score </td>
          {%else%}
        <td>
          <div class="form-group">
            <input class = "form-control" type = "number"  name = "score{{x}}">
          </div>
        </td>
          {%endif%}
          </tr>
        {% endfor %}



        <button type = "submit" class = "btn btn-primary btn-lg mt-3"> Evaluate </button>
        </form>
</div>
</div>






</div>
</form>
</div>
{%endblock%}
