<style>
    ul li a {
        color:#FFF;
        text-decoration:none;
        padding:6px 15px;
        cursor:pointer;
    }
    ul li a:hover {
        text-decoration:none;
        cursor:pointer;
    }

    #noti_Container {
        position:relative;
    }

    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        margin:-3px 10px 0 10px;
        cursor:pointer;
    }

    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        right: 1px;
        display: block;
        position: absolute;
        background: #E1141E;
        color: #FFF;
        font-size: 12px;
        font-weight: normal;
        padding: 1px 4px;
        margin: -2px 0 0 15px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        z-index: 1;

    }
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:430px;
        position:absolute;
        top:30px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 0;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:10px;
    }

    h3 {
        display:block;
        color:#333;
        background:#FFF;
        font-weight:bold;
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }

    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }
</style>

    <div class = "container-fluid">
      <div class = "container" id = "main_content">
<nav class="navbar sticky-top navbar-expand-lg  navbar-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav w-100 mr-auto mt-2 mt-lg-0 justify-content-around">

      <li class="nav-item {{now}}" >
          {% if user.is_staff %}
        <a class="nav-link" href="{%url 'main:homepage'%}" >Current Assessments</a>
          {% else %}
          <a class="nav-link" href="{%url 'main:evaluatorhome'%}" >Current Assessments</a>
          {% endif %}
      </li>
      <li class="nav-item {{past}}" >
        <a class="nav-link" href="{%url 'main:past_assessments'%}">Past Assessments</a>
      </li>

      <li id="noti_Container">
                   <div id="noti_Counter">
                   {{alerts_count}}
                 </div>   <!--SHOW NOTIFICATIONS COUNT.-->

                   <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                   <a id="noti_Button" >
                     <span style="font-size: 2em; color: #7a2831;">
                        <i class="fas fa-envelope-open-text"></i>
                      </span>
                   </a>

                   <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                   <div id="notifications">
                       <h3>Messages</h3>

                       <div style="height:300px; overflow-y:scroll;">
                         <div class="list-group">
                           {%for alert in alerts%}
                              {%if alert.read == False %}
                              <form action = "{% url 'main:mark_read' alert.id%}" method="POST">
                                {%csrf_token%}
                           <div class="list-group-item ">
                             <div class="d-flex w-100 justify-content-between">
                               <h5 class="mb-1">{{alert.sender}}</h5>
                               <small class="text-muted">{{alert.sent_at|timesince}}</small>
                             </div>
                             <p class="mb-1">{{alert.message}}</p>
                             <div class = "text-right">
                               <button class = "btn" type='submit' style="font-size: 1.5em; color: #7a2831;">
                                 <i class="far fa-check-circle"></i>
                               </button>
                            </div>
                           </div>
                           </form>
                            {%endif%}
                           {%endfor%}
                          </div>

                       </div>
                   </div>
               </li>



<li class="nav-item {{logout}}">
  <a class = "nav-link" href="{%url 'main:logout'%}">Log Out</a>
</li>


  </ul>
  </div>
</nav>
<br/>
</div>
</div>

<script>
    $(document).ready(function () {

        // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
        $('#noti_Counter')
            .css({ opacity: 0 })
            // ADD DYNAMIC VALUE (YOU CAN EXTRACT DATA FROM DATABASE OR XML).
            .css({   })
            .animate({ top: '-2px', opacity: 1 }, 500);

        $('#noti_Button').click(function () {

            // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
            $('#notifications').fadeToggle('fast', 'linear', function () {
                if ($('#notifications').is(':hidden')) {
                    $('#noti_Button').css('background-color', '#FFF');
                }
                // CHANGE BACKGROUND COLOR OF THE BUTTON.
                else $('#noti_Button').css('background-color', '#FFF');
            });

            $('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

            return false;
        });

        // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
        $(document).click(function () {
            $('#notifications').hide();

            // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
            if ($('#noti_Counter').is(':hidden')) {
                // CHANGE BACKGROUND COLOR OF THE BUTTON.
                $('#noti_Button').css('background-color', '#fff');
            }
        });

        $('#notifications').click(function () {
            return true;       // DO NOTHING WHEN CONTAINER IS CLICKED.
        });
    });
</script>
