<!--evaluatorrubric.html provides a template for the evaluator rubric layout-->

{% extends 'base.html' %}
{% load static %}
{% block body_block %}


<div class = "container" id = "main_content" style="margin-top:10px;">
  <h1>Title: {{rubric.title}}</h1>
  <table class = "table table-bordered table-responsive">
  {% for x in row_num %}
    <tr>
    {% for y in row_col %}
      {% for category in categories %}
        {%if category.rubric == rubric %}
          {% if category.index_x == x and category.index_y == y %}
            <td> {{category.categoryTitle}} </td>
          {%endif%}
        {%endif%}
      {%endfor%}
    {% endfor %}

    {%if x <= 0 %}
    <td> Score </td>
    {%else%}
  <td>  <input type = "number"  name = "score{{x}}"> </td>
    {%endif%}

    </tr>
  {%endfor%}
  </table>
</div>









{%endblock%}
