{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class = "container" id = "main_content">
  <form action = "{% url 'main:grade' %}" method = "POST" >
    {% csrf_token%}
<div class = "row">
  <div class = "col-lg-4">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a student</label>
    <select class="form-control" id="exampleFormControlSelect1" name="student_dd">
      {% for student in students %}
        <option value = "{{student.name}}">{{student.name}}</option>
      {%endfor%}
    </select>
  </div>
</div>
  <div class = "col-lg-4">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a rubric</label>
    <select class="form-control" id="exampleFormControlSelect1" name = "rubric_dd">
      {% for rubric in rubrics %}
        <option>{{rubric.title}}</option>
      {%endfor%}
    </select>
  </div>
  </div>

    <div class = "col-lg-4">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a decimal place</label>
    <select class="form-control" id="exampleFormControlSelect1" name="decimal_dd">
        <option value = "1">One</option>
        <option value = "2">Two</option>
        <option value = "3">Three</option>
        <option value = "4">Four</option>
    </select>
  </div>
</div>
</div>
<button type = "submit" class = "btn btn-primary btn-lg"> Evaluate </button>
</form>
</div>
{%endblock%}
