
    <div class = "container-fluid">
      <div class = "container" id = "main_content">
<nav class="navbar sticky-top navbar-expand-lg  navbar-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav w-100 mr-auto mt-2 mt-lg-0 justify-content-around">

      <li class="nav-item {{now}}" >
          {% if user.is_staff %}
        <a class="nav-link" href="{%url 'main:homepage'%}" >Current Assessments</a>
          {% else %}
          <a class="nav-link" href="{%url 'main:evaluatorhome'%}" >Current Assessments</a>
          {% endif %}
      </li>

      <li class="nav-item {{past}}" >
        <a class="nav-link" href="{%url 'main:past_assessments'%}">Past Assessments</a>
      </li>


               <li class="nav-item {{help}}" >
               <a id="noti_Button" class = "nav-link" href="{%url 'main:evaluator_instructions'%}">
                 <span style="font-size: 2rem; color: #7a2831;">
                   <i class="fas fa-info-circle"></i>
                </span>
               </a>
              </li>



<li class="nav-item {{logout}}">
  <a class = "nav-link" href="{%url 'main:logout'%}">Log Out</a>
</li>


  </ul>
  </div>
</nav>
<br/>
</div>
</div>

</script>
