<!--evaluator_edit_rubric_select.html provides the evalator with the ability to edit
scores for a rubric that have already been submitted.-->

{% extends  'main/evaluatorbase.html' %}
{% load static %}
{% block body_block %}
<style>
  td {
      font-size: 1rem;
  }
  .rubric_select{
    padding:0 !important;

  }

</style>

<div class = "container" id = "main_content">

    <form action = "{%url 'main:evaluate_single_student' rubric.max_row rubric.id measure_id%}" method = "POST">
      {%csrf_token%}
        <label for="exampleFormControlSelect1">Updating the evaluation for {{mystudent.student_name}} </label>
             <select class="form-control" name = "student_to_be_evaluated">
                        <option value = "{{mystudent.id}}">{{mystudent.student_name}}</option>
              </select>
    <br/>

    <!--Display the rubric that has been selected-->
    <h1> {{rubric.title}} </h1>
    <div class = "table-responsive">
    <table class = "table table-bordered  table-hover">
        {% for x in row_num%}
          <tr>
          {% for y in col_num%}
            {% for category in categories %}

              {%if category.rubric == rubric %}
                {% if category.index_x == x and category.index_y == y %}
                  <td> {{category.categoryTitle}} </td>
                {%endif%}
              {%endif%}
            {%endfor%}

          {% endfor %}
          {%if x <= 0 %}
          <td> Score </td>
          {%else%}
        <td>
            {% load index %}
          <div class="form-group">

            <!--Option to select new values -->

              <select class="form-control rubric_select" id="exampleFormControlSelect1" name = "cat_field">
                  {% for val in super_cat %}
                  {% if val == data|index:x %}
                  <option value = "{{val}}" selected>{{val}}</option>
                  {%else%}
                  <option value = "{{val}}">{{val}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
          </div>
        </td>
          {%endif%}
          </tr>
        {% endfor %}
        </table>
        </div>
        <div class = "text-center">
          <!--Confirm update-->
          <button type = "submit" class = "btn btn-primary btn-lg mt-3"> Update </button>
        </div>
        </form>
</div>


{%endblock%}
