
{% extends  'base.html' %}
{% load static %}
{% block body_block %}
<style>
  #main_content{
    margin-top: 1%;
  }
</style>
<div class = "container-fluid">
<div class = "container" id = "main_content">
{% if user.is_authenticated %}
<h2> Hi {{ user.username }}!</h2>

<p>
    Ready to start evaluations?<br>
</p>
    {% if user.is_superuser %}
    <p>Visit the <a href="/admin">admin</a> site instead</p>
    {% endif %}
<div class = "row">
  <div class = "col col-lg-3">
    <ul class="list-group">
    <li class="list-group-item active">Current Students</li>
    {%for student in students%}
      <li class="list-group-item">{{student.name}}</li>
    {%endfor%}
    </ul>
  </div>
<br/>
  <div class = "col col-lg-3">
    <ul class="list-group">
    <li class="list-group-item active">Available Rubrics</li>
    {%for rubric in rubrics%}
      <li class="list-group-item">{{rubric}}</li>
    {%endfor%}
    </ul>
  </div>

  <div class = "col col-lg-6">
    <ul class="list-group">
    <li class="list-group-item active">Last Evaluation</li>
    {%for evaluation in evaluations%}
      <p class = "text-center list-group-item">{{evaluation.student}} got an average of {{evaluation.grade_score}} on {{evaluation.rubric}} rubric</p>
    {%endfor%}
    </ul>
  </div>



</div>
<br/>
<div>
  <form action = "{%url 'main:evaluator_rubric_select'%}">
    <input type = "submit" class = "btn btn-primary" value = "Start Evaluations">  </input>
  </form>
</div>
<b>Ready to sign out?</b>
<p><a href="/logout">Sign out</a></p>
{% else %}
  <p>You can't view this page</p>
{% endif %}
</div>
</div>
{%endblock%}
