{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class = "container" id = "main_content">
  <form action = "{% url 'main:grade' %}" method = "POST" >
    {% csrf_token%}
<div class = "row">
  <div class = "col-lg-4">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a student</label>
    <select class="form-control" id="exampleFormControlSelect1" name="student_dd">
      {% for student in students %}
        <option value = "{{student.name}}">{{student.name}}</option>
      {%endfor%}
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a rubric</label>
    <select class="form-control" id="exampleFormControlSelect1">
      {% for rubric in rubrics %}
        <option>{{rubric.title}}</option>
      {%endfor%}
    </select>
  </div>
</div>
</div>



</div>


<div class = "container-fluid" id = "main_content" style="margin-top:10px;">

      <table  id="rubricbase" class="table table-bordered">
          <tr id=headerRow>
            <th width="10%">Title</th>
               <th width="40%">Citeria</th>
               <th width="10%">Measure</th>
               <th width="20%">MeasureText</th>
               <th width="10%">Weight</th>
               <th width="10%"> Score </th>
          </tr>
          <tr id="second_row">
  {% for r in rubrics %}
  <td class="category">
    <p>{{r.title}}</p>
  </td>
  <td class="category">
    {% for cat in r.category.all %}
      <p>{{cat.categoryTitle}}</p>
    {%endfor%}
  </td>
  <td class="category">
          {% for mea in measures.all %}
            <p>{{mea}}</p>
          {%endfor%}
  </td>
  <td class="category">
    {% for mea in measures.all %}
      <p>{{mea.measureText}}</p>
    {%endfor%}
  </td>
  <td class="category">
    {% for mea in measures.all %}
      <p>{{mea.weight}}</p>
    {%endfor%}
  </td>
  <td class="category">
    {% for cat in r.category.all %}
        <input type = "number" name = "score{{cat.id}}" min="1" max="5">
    {%endfor%}

  </td>
    </tr>
  {% endfor %}
</table>
<button type = "submit" class = "btn btn-primary btn-lg"> Evaluate </button>
</form>
</div>









{%endblock%}
