{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class = "container" id = "main_content">
  <form action = "{% url 'main:evaluate_students' %}" method = "POST" >
    {% csrf_token%}
<div class = "row">
  <div class = "col-lg-6">
    <label for="exampleFormControlSelect1">Evaluate a team</label>
    <div class="form-group">
       <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="team name">
     </div>
    <ul class="list-group">
        {% for student in students %}
          <label class="form-check-label list-group-item" for="defaultCheck{{student.id}}">{{student.name}}  </label>
            <span class = "text-right" style="right:0;">
              <input type="checkbox" class="form-check-input " id="exampleCheck{{student.id}}">
            </span>
          {%endfor%}
    </ul>
    <button type = "submit" class = "btn btn-primary btn-lg"> Evaluate </button>

  </div>

  <div class = "col-lg-6">
    <label for="exampleFormControlSelect1">Evaluate a student</label>
    <ul class="list-group">

         <select id="inputStudent" class="form-control">
           {% for student in students %}
                <option selected>{{student.name}}</option>
         </select>
          {%endfor%}
    </ul>
    <button type = "submit" class = "btn btn-primary btn-lg"> Evaluate </button>

  </div>




</div>
</form>
</div>
{%endblock%}
