{% extends  'base.html' %}
{% load static %}
{% block body_block %}
  <div class = "container-fluid" id = "home">
    <div  id = "main_content" class = "container card border-primary bg-light mb-3" style="width: 45rem;">
      <p class = "text-center">
        <img src = "{% static 'assets/images/ulm_logo.png' %}" class="img-fluid" alt="Responsive image" id = "logo" />
      </p>

      <div class = "text-center">
      <span class = "login_opts">
        <a href="/admin" class = 'btn btn-lg btn-primary'>Admin Log in</a>
      </span>

      <span class = "login_opts">
        <a href="/accounts/login" class = 'btn btn-lg btn-primary'>   Evaluator Log in </a>
      </span>
      </div>
    </div>
  </div>
{% endblock %}
