{% extends  'main/superadminbase.html' %}
{% load static %}
{% block body_block %}
<div class = "row">
  <div class = "col-md-12 col-sm-12 col-xs-12 col-12">
<div class = "container card border-primary login bg-light" style="border: 2px solid brown !important; box-shadow: 5px 5px gray !important; width:40rem;margin-top:5%; padding:20px;">

  <h2 class = "text-center"> Invite Coordinators </h2>
<form action = "{%url 'main:super_admin_home'%}" method="POST">
  {%csrf_token%}
  <div class="form-group">
    <label for="exampleInputName1">Name: </label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name = "name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name = "email" required>
    <small id="emailHelp" class="form-text text-muted">Coordinator will get an invitation link through this email</small>
  </div>
  <div class="form-group">
  <label for="exampleFormControlSelect1">Department</label>
  <select class="form-control" id="exampleFormControlSelect1" name="department" required >
    {%for department in departments%}
    <option value={{department.dept_name}}>{{department.dept_name}}</option>
    {%endfor%}
  </select>
  </div>
  <div class = "text-right">
  <a data-toggle="modal" data-target="#exampleModalCenterNewDepartment"> create a department  </a>
</div>

  <br/>
  <button type="submit" class="btn btn-primary">Invite</button>
</form>
</div>
</div>
</div>
<div class="modal fade" id="exampleModalCenterNewDepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Create a new Department</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action = "{%url 'main:create_department'%}" method="POST">
        {%csrf_token%}
        <div class="form-group">
   <label for="exampleInputEmail1">Department Name</label>
   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter department name" name="dept">
    </div>
      <button type="submit" class="btn btn-primary">Add</button>
        </form>
        </div>
    </div>
  </div>
</div>

{%endblock%}
