{% extends  'main/superadminbase.html' %}
{% load static %}
{% block body_block %}
<style>
  .card-header {
      background-color: #800029;
      color: rgb(252, 248, 242);
  }
</style>

<div class = "container">
<table class="table">
  <thead class = "card-header">
    <tr>
      <th scope="col">Coordinator Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {%for invite in invitees%}
    <tr>
      <td>{{invite.email}}</td>
      <td>
          {%if invite.accepted %}
            Accepted
          {%else%}
            Pending
          {%endif%}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{%endblock%}
