{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block body_block %}
<style>
  #main_content{
    border: 3px solid black;
    margin-top: 5%;
    padding: 2%;
    width: 30rem;
  }
  @media (max-width: 576px) {
    #main_content{
      width: 17rem;
      margin-top: 10px;
      padding: 2%;
    }
  }
</style>

<div class = "container login" id = "main_content" class = "container card border-primary bg-light mb-3 form-row" >

  <form method="POST">
    {% csrf_token %}

    <p class = "text-center">
      <img src = "{% static 'assets/images/app_logo.png' %}" class="img-fluid" alt="Responsive image" id = "logo" style="height:50%; width:50%;" />
    </p>

    {{form|crispy}}

   <div class = "col-auto col-lg-12 login_opts">
    <button type="submit" class = "btn btn-primary btn-block btn-lg ">Log In</button>
  </div>
  </form>
    <div>
       Don't have an account yet? <a href="/register">Sign Up</a>
    </div>
    <div>
      <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Help</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Getting Started</h4>
      </div>
      <div class="modal-body">
        <p>
          <h5>If you have not registered</h5>
          <ul><li>Select the link to register</li>
          <li>If you received an email with a registration link, be sure to register with the email the link was sent to</li>
        <li>If you did not receive a registration email, you must inform your coordinator of the email you registered with</li></ul>
        <h5>If you have registered</h5>
        <ul>
          <li>Enter login credentials</li>
          <li>Select <b>'Forgot Password'</b> to recover password</li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
      </div>
</div>
{% endblock %}

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
