{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block body_block %}
<style>
  body{
    margin: 10px;
  }
  #main_content{
    border: 3px solid black;
    margin-top: 25%;
    padding: 2%;
  }
</style>
<div class = "container login" id = "main_content" class = "container card border-primary bg-light mb-3 form-row">

  <form method="POST">
    {% csrf_token %}

    <p class = "text-center">
      <img src = "{% static 'assets/images/app_logo.png' %}" class="img-fluid" alt="Responsive image" id = "logo" style="height:50%; width:50%;" />
    </p>

    {{form|crispy}}

   <div class = "col-auto col-lg-12 login_opts">
    <button type="submit" class = "btn btn-primary btn-block btn-lg ">Log In</button>
  </div>
  </form>
    <div>
       Don't have an account yet? <a href="/register">Sign Up</a>
    </div>
</div>
{% endblock %}
