<!--logout.html displays logout confirmation and the option to log back in -->

{% extends 'base.html' %}
{% load static %}

{%block body_block %}
<style>
  #main_content{
    border: 3px solid black;
    margin-top: 5%;
    padding: 2%;
  }
</style>

<div class = "container login" id = "main_content" class = "container card border-primary bg-light mb-3 form-row" style="width: 30rem;">
    <p class = "text-center">
      <img src = "{% static 'assets/images/app_logo.png' %}" class="img-fluid" alt="Responsive image" id = "logo" style="height:50%; width:50%;" />
    </p>
    <div>
    <h3> You have logged out successfully</h3>
    </div>
    <div>
        Want to log back in? <a href="/">Log In</a>
    </div>
</div>
{% endblock %}
