{% extends  'main/superadminbase.html' %}
{% load static %}
{% block body_block %}

<style>
  a:hover{
    color: white;
  }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        text-align: left;
    }
    .card-header {
        background-color: #800029;
        color: rgb(252, 248, 242);
    }
</style>
<div class = "container">
  <div class = "container-fluid">
    <div class = "row">
  <div class = "col-12"  style="overflow-y:scroll; height: 80vh;">

  <table class="table">

    <thead class = "card-header">
      <tr>
        <th scope="col">Logs</th>
        <th scope="col"><a  style="color:white;" href = "{%url 'main:clear_log'%}">clear all</a></th>
      </tr>
    </thead>
    <tbody>
          {%for log in logs%}
      <tr>
        <td>{{log.message}}</td>
        <td> {{log.created_at|timesince}} ago</td>
      </tr>
      {%empty%}
      <tr>
        <td>
        <div class="jumbotron jumbotron-fluid" style="background-color: rgb(252, 243, 229); width:100%;">
          <div class="container">
            <h1 class="display-4">No activity to log.</h1>
            <p class="lead">Please check back later
              <br/>
            </p>

          </div>
        </div>


        </td>
     </tr>

      {%endfor%}
    </tbody>
  </table>
  </div>
  </div>






</div>
</div>
{%endblock%}
