{% extends  'main/superadminbase.html' %}
{% load static %}
{% block body_block %}

<style>
  a:hover{
    color: white;
  }
</style>
<div class = "container">
  <div class = "container-fluid">
      <li class="list-group-item  list-group-item-action active  d-flex justify-content-between"><span> <h4>Logs</h4> </span>
        <a href = "{%url 'main:clear_log'%}">clear all</a>
      </li>

      <ul class="list-group" style = "overflow-y:auto; height: 80vh;">
      {%for log in logs%}
        <li class="list-group-item list-group-item-action d-flex justify-content-between" style="    padding-bottom: 3%;  word-break: unset;  overflow: visible;"><span>{{log.message}}</span>

           {{log.created_at|timesince}} ago
         </li>
  {%empty%}
  <a href= "#" class="list-group-item list-group-item-action text-center" style="padding:20px;"><span >No activity to log. <br/> Please check back later</span>


   </a>

  {%endfor%}
</ul>



</div>
</div>
{%endblock%}
