{% extends  'main/superadminbase.html' %}
{% load static %}
{% block body_block %}

<style>
  a:hover{
    color: white;
  }
  .ulclass {
	 position: absolute;
	 overflow: scroll;
	 margin: 0;
	 padding: 0;
	 border: 2px solid #ccc;
	 font-size: 16px;
	 font-family: Arial, sans-serif;
	 -webkit-overflow-scrolling: touch;
}
 .liclass {
	 padding: 10px 20px;
	 border-bottom: 1px solid #ccc;
}

 .liclass:nth-child(even) {
	 background: #f8f8f8;
}

</style>
<div class = "container">
  <div class = "container-fluid">
      <li class="list-group-item  list-group-item-action active  d-flex justify-content-between"><span> <h4>Logs</h4> </span>
        <a href = "{%url 'main:clear_log'%}">clear all</a>
      </li>

      <ul class="list-group ulclass" style = "overflow-y:scroll; height: 80vh;">
      {%for log in logs%}
        <li class="list-group-item d-flex justify-content-between liclass"><span>{{log.message}}</span>

           {{log.created_at|timesince}} ago
         </li>
  {%empty%}
  <a href= "#" class="list-group-item list-group-item-action text-center" style="padding:20px;"><span >No activity to log. <br/> Please check back later</span>


   </a>

  {%endfor%}
</ul>



</div>
</div>
{%endblock%}
