{% extends  'main/adminbase.html' %}
{%load static%}
{% block body_block%}

<style>
  @media (max-width: 576px) {
  .outcome_title{
    font-size: 0.80rem;
  }
  }
</style>

    <div class = "container-fluid">
      <div class = "container" id = "main_content">
        <div class = "col col-lg-12 col-md-12 col-sm-12">
                  <div  class = "card border-dark mb-3 justify-content-center" >
                    <h3 class = "card-header title">
                    <div class = "d-flex justify-content-between">
                      <span>Outcomes</span>
                      <button type="button" class="btn btn-primary btn-lg mt-1" data-toggle="modal" data-target="#exampleModalCenter">
                       <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    </h3>

        <ul id = "over" class="list-group" style="overflow-y:scroll; height: 50vh">
    {%for outcome in outcomes%}
        <div class="accordion" id="accordionExample">
          {%for cycle in outcome.cycle.all%}
          {%if cycle.isCurrent%}



          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Learning Outcome Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action = "{%url 'main:add_learning_outcome' cycle.id%}" method="POST">
                      {%csrf_token%}
                      <input type="hidden" id="url" name = "url" value={{request.path}}>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Title</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "outcome_title"></textarea>
                      </div>


                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>



          <div class="card" >
            <div class="card-contents" id="headingOne" data-toggle="collapse" data-target="#collapseOne{{outcome.id}}" aria-expanded="true" aria-controls="collapseOne">
              <h2 class="mb-0 d-flex justify-content-between" >
                <span class="btn text-left"  style="text-decoration:none;">
                  <h5 class = "outcome_title">  {{outcome.title}} </h5>
                </span>
                <i class="fas fa-chevron-down mr-2 justify-items-center"></i>

              </h2>
            </div>

            <div id="collapseOne{{outcome.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group">
                  {%for measure in measures%}
                    {%if measure.outcome == outcome%}
                      <!-- <li class="list-group-item d-flex justify-content-between">
                      <div>
                        {{measure.measureTitle}}
                      <span class = "btn btn-sm btn-warning ml-0">
                      {{measure.cutoff_percentage}} % of the students need to get
                      {%if measure.cutoff_score%}
                       {{measure.cutoff_score}}
                       {%else%}
                       average
                       {%endif%}
                          or higher
                      on {{measure.tool_type}}:
                      {%if measure.tool_type == "Rubric"%}
                        <strong>{{measure.rubric}}</strong>
                      {%elif measure.tool_type == "Test score"%}
                        <strong>{{measure.test_score}}</strong>
                      {%endif%}
                    </span>
                  </div>
                    <em class = "align-item-center">{{measure.status}}</em>
                  </li> -->



                  <div class = "col col-lg-12 md-6 sm-12 xs-12">
                      <div class="card bg-light ml-2 mb-3">
                        <div class="card-header d-flex justify-content-between"><h4 class = "">{{measure.measureTitle}} </h4>
                          <span class = "btn btn-sm btn-warning ml-0 col-6">
                          {{measure.cutoff_percentage}} % of the students need to get
                          {%if measure.cutoff_score%}
                           {{measure.cutoff_score}}
                           {%else%}
                           average
                           {%endif%}
                              or higher
                          on {{measure.tool_type}}:
                          {%if measure.tool_type == "Rubric"%}
                            <strong>{{measure.rubric}}</strong>
                          {%elif measure.tool_type == "Test score"%}
                            <strong>{{measure.test_score}}</strong>
                          {%endif%}
                          </span>
                          <p class="card-text"><em class = "align-item-center">
                            {%if measure.statusPercent > 0.0%}
                            {{measure.statusPercent|floatformat:2}}% {{measure.status}}</em></p>
                            {%else%}
                            not started </em></p>
                            {%endif%}

                        </div>
                </div>
                    </div>




                    {%endif%}
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>

  {%endfor%}
</div>
</div>
</div>
</div>

{%endblock%}
