
{% extends  'main/adminbase.html' %}
{% load static %}
{% block body_block %}
<style>
  @media only screen and (max-width: 475px) {
    h4 {
      font-size: 0.8rem !important;
    }
  }

.button_main{
  padding:0 !important;
}

.badge{
  white-space: inherit;
vertical-align: text-top;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f5efe6;
    border-radius: .3rem;
}

  .speech-bubble {
     position: relative;
      background: rgba(189,149,90, 0.15);
       border-radius: .4em;
       border: 3px solid #800029;
       padding: 5px;
       margin-bottom: 4%;
      }
      .speech-bubble:after {
        content: '';
         position: absolute;
         left: 0; top: 50%; width: 0; height: 0;
          border: 0.5em solid transparent;
           border-right-color:rgba(189,149,90,0.15);
            border-left: 0; border-top: 0; margin-top: -0.25em; margin-left: -0.5em;
          }


          hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15::after {
    content: 'or';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    color: #7a2831;
    font-size: 18px;
    background: #f5efe6;
}
hr.not(.style15) {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
  color: #dad86d9;
}

.progress {background: :#9eb5ce; border: 0px solid rgba(245, 245, 245, 1); border-radius: 5px; height: 20px; width:90%;}


</style>




<div class = "container-fluid" >
     <div class="modal fade" id="exampleModalCenterNewMeasure{{outcome.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLongTitle">Add Measure</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <form action = "{%url 'main:new_measure' outcome.id%}" method="POST">

               {%csrf_token%}
               <input type="hidden" id="url" name = "url" value={{request.path}}>

               <div class="form-group">
                 <label for="exampleFormControlTextarea1">Measure Title</label>
                 <input type="text" class="form-control" id="exampleInputPassword1"
                        placeholder="Measure title" name = "measure_title">
               </div>

               <div class="form-group">
                 <label for="exampleFormControlTextarea1">Cutoff-percent</label>
                 <input type="number" class="form-control" id="exampleInputPassword1"
                        placeholder="cutoff percentage" name = "cutoff_percent" min=1 max=100>
               </div>

               <label for="exampleFormControlTextarea1">Select Cutoff type</label>
                 <select class="custom-select" name="cutoff_selection">
                 <option selected>Percentage</option>

                 </select>

                 <div class="form-group">
                   <label for="exampleFormControlTextarea1">Cutoff-Score</label>
                   <input type="number" class="form-control" id="exampleInputPassword1"
                          placeholder="cutoff score" name = "cutoff_score" min=1>
                 </div>

            <div class="form-group">
             <label for="exampleFormControlTextarea1">Select Tool Type</label>
               <select class="custom-select" name="tool_selection">
               <option selected>Select Tool</option>
               <option value="Rubric">Rubric</option>
               <option value ="Test score">Test score</option>
               </select>
            </div>


            <button type="submit" class="btn btn-primary">Add</button>
             </form>
             <hr class = "style15" />

             <form action = "{%url 'main:migrate_measure' outcome.id cycle_id%}" method = "POST">
               {%csrf_token%}
               <div class="form-group">

                 <label for="exampleFormControlTextarea1">Add pre-existing measures</label>
                 <select multiple class="form-control custom-select" id="exampleFormControlSelect2" name="measures">
                   {%for measure in all_measures%}
                    <option value="{{measure.id}}">{{measure.measureTitle}}</option>
                   {%endfor%}
                 </select>
              </div>
              <button type="submit" class="btn btn-primary">Add</button>

             </form>
           </div>

         </div>
       </div>
     </div>




  <div class="row d-flex align-items-center">
  <div class="col col-lg-2 md-6 sm-12 xs-12 mb-1">
    <div class = "text-right">
    <button type="button" class="btn btn-primary  mb-2" data-toggle="modal" data-target="#exampleModalCenterNewMeasure{{outcome.id}}" data-measure-id = "{{measure.id}}">
       <i data-toggle="tooltip" title="Add Measures" class="fas fa-plus"></i>
     </button>
     </div>

    <div class="list-group" id="list-tab" role="tablist">

      {%for measure in measures%}
        {%if measure.outcome == outcome%}
          {%if forloop.first %}
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home{{measure.id}}" role="tab" aria-controls="home">{{measure.measureTitle}}</a>
          {%else%}
          <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home{{measure.id}}" role="tab" aria-controls="home">{{measure.measureTitle}}</a>
          {%endif%}
        {%else%}

        {%endif%}
        {%empty%}
        <a class="list-group-item list-group-item-action active " id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Measure Title</a>
      {%endfor%}

    </div>
  </div>
  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12" >

    <h4 id="descr" style="border: 2px solid #800029;color: ghostwhite;background: #BD955A;font-style: oblique;
               padding: 4px;border-radius: 12px;margin-bottom: 5px !important;">
       {{outcome.desc}}
      </h4>

    <div class="tab-content speech-bubble" id="nav-tabContent">
      {%for measure in measures%}
        {%if measure.outcome == outcome%}
          {%if forloop.first %}
                <div class="tab-pane fade show measure_section active" id="list-home{{measure.id}}" role="tabpanel" aria-labelledby="list-home-list">
          {%else%}
                <div class="tab-pane fade show measure_section" id="list-home{{measure.id}}" role="tabpanel" aria-labelledby="list-home-list">
          {%endif%}
        <h2 class = "d-flex justify-content-between pl-3">
          <div>
           {{measure.measureTitle}}
          {%if measure.status == 'failing'%}
            <div class="badge badge-pill badge-danger" style="font-size:initial;">failing</div>
              {% elif measure.status == 'pending' %}
              <div class="badge badge-pill badge-warning" style="font-size:initial;">pending</div>
              {% elif measure.status == 'notstarted' %}
              <div class="badge badge-pill badge-info" style="font-size:initial;">Not Started</div>
          {%else%}
            <div class="badge badge-pill badge-success" style="font-size:initial;">passing</div>
          {%endif%}
          </div>

          <div class = "mr-3">
          <button  class="btn  button_main" data-toggle="modal" data-target="#exampleModalCenter{{measure.id}}" data-measure-id = "{{measure.id}}">
            <span style="font-size: 2em; color: #bd955a;">
              <i data-toggle="tooltip" title="Edit Measure" class="far fa-edit"></i>
          </span>
          </button>

          <button class="btn button_main" data-toggle="modal" data-target="#exampleModalCenterDeleteMeasure{{measure.id}}" data-measure-id = "{{measure.id}}">
            <span style="font-size: 2em; color:#7a2831;">
              <i data-toggle="tooltip" title="Delete Measure" class="far fa-trash-alt"></i>
          </span>
          </button>
          </div>

                <div class="modal fade" id="exampleModalCenter{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Measure</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="{%url 'main:update_measure' measure.id%}" method="POST">
                          {%csrf_token%}
                          <input type="hidden" id="url" name = "url" value={{request.path}}>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Measure Title</label>
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                   placeholder="Measure title" name = "measure_title"
                                   value = "{{measure.measureTitle}}">
                          </div>

                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Cutoff-Score</label>
                          <input type="number" class="form-control" id="exampleInputPassword1"
                                 placeholder="cutoff score" name = "cutoff_score"
                                 value = "{{measure.cutoff_score}}">
                        </div>

                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Cutoff-percent</label>
                          <input type="number" class="form-control" id="exampleInputPassword1"
                                 placeholder="Measure title" name = "cutoff_percent"
                                 value = "{{measure.cutoff_percentage}}">
                        </div>

                        <label for="exampleFormControlTextarea1">Select Tool Type</label>
                          <select class="custom-select" name="tool_selection">
                            {%if measure.tool_type == 'Rubric'%}
                              <option selected>Rubric</option>
                              <option value ="Test score">Test score</option>

                            {%elif measure.tool_type == 'Test score'%}
                              <option selected>Test score</option>
                              <option value="Rubric">Rubric</option>

                            {%else%}
                              <option selected>Select Tool</option>
                              <option value="Rubric">Rubric</option>
                              <option value ="Test score">Test score</option>
                            {%endif%}
                          </select>

                          <label for="exampleFormControlTextarea1">Select Cutoff type</label>
                            <select class="custom-select" name="cutoff_selection">
                            <option selected>Percentage</option>
                            <option value="Percentile">Percentile</option>
                            <option value ="Average">Average</option>
                            </select>

                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
          </div>



                  <div class="modal fade" id="exampleModalCenterDeleteMeasure{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action = "{%url 'main:delete_measure' measure.id%}" method="POST">
                          {%csrf_token%}
                          <input type="hidden" id="url" name = "url" value={{request.path}}>
                          <h3>Are you sure? </h3> <br/>
                            <button type="submit" class="btn btn-primary">Delete</button>
                          </form>
                          </div>
                      </div>
                    </div>
                  </div>



         </h2>

        <p> {{measure.measureText}} </p>



        <div class = "col col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12  mb-2 ">
        <span class = "badge badge-pill badge-info" style="font-size:1rem;">
        {{measure.cutoff_percentage}} % of the students need to get
        {%if measure.cutoff_score%}
         {{measure.cutoff_score}}
         {%else%}
         average
         {%endif%}
            or higher
        on {{measure.tool_type}}:
        {%if measure.rubric%}
          {{measure.rubric}}
        {%elif measure.test_score%}
          {{measure.test_score}}
        {%endif%}
        </span>
</div>




  <div class="modal fade" id="exampleModalCenterStudentUpload{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Students to {{measure.measureTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{%url 'main:add_individual_student' outcome_id measure.id%}" method="POST">
            {%csrf_token%}
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Student Name</label>
              <input type="text" class="form-control" id="exampleInputPassword1"
                     placeholder="name of the student" name = "student_name" required>
              <br />
              <button type = "submit" class = "btn btn-primary"> Add </button>
            </div>
          </form>
          <label for="exampleFormControlTextarea1">Upload a csv file</label>

          <small id="emailHelp" class="form-text text-muted">upload a csv file with students name and their classification on individual lines</small>
          <a href = "{%url 'main:download'%}"> see example </a>

          <form action="{% url 'main:upload_student' outcome_id measure.id%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <input type="file" name="csv_file" />
              <input type="submit" value="Upload" class = "btn btn-primary" />

          </form>
        </div>
      </div>
    </div>
  </div>





{%if measure.tool_type == 'Rubric'%}
    {%if measure.rubric %}




    <div class = "col col-lg-12 mb-2 ">
    <div class = "progress" style="background:#9aa1a7;">
    <div class="progress-bar" role="progressbar" aria-valuenow="40"
    aria-valuemin="0" aria-valuemax="100" style="width:{{measure.statusPercent}}%;
      {%if measure.status == 'passing'%}
        background:green;
      {%elif measure.status == 'failing'%}
        background:red;
      {% else %}
        background:yellow;
      {%endif%}
    ">
    satisfied by {{measure.statusPercent|floatformat:0}}%
    </div>
    </div>
    </div>
<hr> </hr>

<div class = "row">

<div class = "col col-lg-4 md-12 sm-12 xs-12">
    <div class="card bg-light ml-2 mb-3">
      <div class="card-header d-flex justify-content-between align-items-center"><h4 class = "">Associated Tool</h4>
        <a href = "{% url 'main:remove_rubric_association' measure.id outcome_id %}" class = "btn btn-light">
          <span style=" color: #7a2831;">
            <i data-toggle="tooltip" title="Remove Association" class="far fa-trash-alt"></i>
        </span>
         </a>
      </div>
      <div class="card-body">
        <h5 class="card-title"> {{measure.rubric.title}}</h5>
        <p class="card-text"><em>Type: {{measure.tool_type}}</em></p>
        <div class = "text-center">
          {%if measure.measureTitle in num_of_evaluations%}
          <a href = "{%url 'main:view_rubric_data' measure.id%}" class = "btn btn-primary mb-3">
              View Status
          </a>


          {%else%}

          {%endif%}
        </div>





      </div>
    </div>
  </div>

      <div class="modal fade" id="exampleModalLongExpandStudentList{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">List of students</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Student Name</th>
                  <th scope="col">Classification</th>
                </tr>
              </thead>
              <tbody>
                {% for student in measure.student.all %}

                <tr>
                  <td scope="row">{{student.name}}</td>
                  <td>{{student.classification}}</td>
                </tr>
                  {%endfor%}

              </tbody>
          </table>

          </div>

        </div>
      </div>
    </div>



        <div class = "col col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
          <ul class="list-group" style="overflow-y:auto; height: 30vh">
            <li class="list-group-item card-header d-flex align-items-center justify-content-between"><h4>Evaluators</h4>

            <button type="button" class="btn btn-light  ml-3" data-toggle="modal" data-target="#exampleModalCenterAddEv{{measure.id}}">
                 <i data-toggle="tooltip" title="Add Evaluators" class="fas fa-plus"></i>
            </button>

            </li>
          {%for eval in measure.evaluator.all%}
              <li class="list-group-item d-flex  justify-content-between">

              <a href = "{%url 'main:assignments' eval.id measure.id outcome_id%}" style="color:black;" >   {{eval.name}}
              </a>

              <button  type = 'button' class = "btn btn-sm btn-danger"  data-toggle="modal" data-target="#exampleModalCenterDeleteEval{{eval.id}}" style="font-size: 1em; color: white;">
                <i data-toggle="tooltip" title="Remove Evaluator" class="fas fa-user-slash"></i>
              </button>

              <div class="modal fade" id="exampleModalCenterDeleteEval{{eval.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Evaluator from measure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action = "{%url 'main:remove_evaluator_access' eval.id measure.id outcome_id%}" method="POST">
                      {%csrf_token%}
                      <input type="hidden" id="url" name = "url" value={{request.path}}>
                      <h3>Are you sure? </h3> <br/>
                        <button type="submit" class="btn btn-primary">Delete</button>
                      </form>
                      </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="exampleModalCenterExpand{{eval.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assignments for {{eval.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                  </div>
                  </div>
                </div>
              </div>


                </li>


            {%endfor%}


          </ul>
        <hr> </hr>

{%if measure.evaluator.exists%}
  {%if measure.student.exists%}
          <button class="btn btn-lg btn-primary btn-block mb-2" data-toggle="modal" data-target="#exampleModalCenterAddEvaluator{{measure.id}}">
          Assign students to Evaluators
          </button>
{%endif%}
{%endif%}
          </div>

          <hr/>



          <div class="modal fade" id="exampleModalCenterAddEv{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add evaluator</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <form class="" action = "{%url 'main:add_evaluator' outcome_id measure.id %}" method = "POST">
                    {%csrf_token%}
                    <label for="exampleFormControlSelect2">Invite new evaluator</label>

                    <div class="form-group mb-2">
                        <input type="text" name = "evaluator_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name" required>
                   </div>
                    <div class="form-group mb-2">
                        <input type="email" name = "evaluator_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                   </div>

                   <button type="submit" class="btn btn-primary mb-2">Add Evaluator</button>

                  </form>
                   <hr class = "style15"> </hr>
                   <form class="" action = "{%url 'main:add_preexisting_evaluator' outcome_id measure.id %}" method = "POST">
                    {%csrf_token%}

                   <div class="form-group">
                    <label for="exampleFormControlSelect2">Select Pre existing evaluators </label>

                    <select multiple class="form-control  form-control-lg" id="exampleFormControlSelect2" name="evaluators" required>
                      {%for ev in evaluator%}
                          <option value="{{ev.id}}">{{ev.name}}</option>
                    {%endfor%}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">Add Evaluator</button>
                  </form>
                </div>
              </div>
            </div>
          </div>







          <div class="modal fade" id="exampleModalCenterAddEvaluator{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add evaluator</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{%url 'main:assign_evaluator' measure.id outcome_id%}" method="POST">
                    {%csrf_token%}

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Evaluator</label>
                        <select class="form-control" id="exampleFormControlSelect1" name = "evaluator_email" required>
                          {%for ev in measure.evaluator.all%}
                          <option value="{{ev.email}}">{{ev.name}}</option>
                          {%endfor%}
                        </select>
                      </div>
                          <div class="form-group">
                           <label for="exampleFormControlSelect2">Select Students</label>
                           <select multiple class="form-control  form-control-lg" id="exampleFormControlSelect2" name="students" required>
                             {%for student in measure.student.all%}
                             <option value="{{student.name}}">{{student.name}}</option>
                             {%endfor%}
                           </select>
                         </div>


                      <button type = "submit" class = "btn btn-primary"> Assign </button>
                    </form>

                    </div>


                </div>
              </div>
            </div>










          <div class = "col col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 " style="overflow-y:auto; height: 40vh;">
            <li class="list-group-item d-flex justify-content-between card-header align-items-center"> <h4>Students</h4>

          <div class = "d-flex justify-content-between">
            <button type="button" class="btn btn-md btn-light mr-3" data-toggle="modal" data-target="#exampleModalCenterStudentUpload{{measure.id}}">
              <i data-toggle="tooltip" title="Add Students to Measure" class="fas fa-plus"></i>
            </button>

            <button type="button" class="btn btn-md btn-light" data-toggle="modal" data-target="#exampleModalLongExpandStudentList{{measure.id}}">
              <i data-toggle="tooltip" title="View Student List" class="fas fa-expand-arrows-alt"></i>
            </button>
          </div>

            </li>

            <table class = "table" style="background-color:#f8f9fa;">
              <tbody>
                {% for student in measure.student.all %}
                <tr class = "d-flex justify-content-between" style="border-bottom: 1px solid #7a2831;">
                  <td class = "d-flex align-items-center">{{student.name}}</td>
                  <td>
                    <a href = "{%url 'main:delete_student' outcome_id measure.id student.id%}" class="btn btn-md mr-3">
                          <span style="font-size: 1em; color: #7a2831;">
                              <i data-toggle="tooltip" title="Remove Student" class="fas fa-times"></i>
                          </span>
                    </a>
                  </td>
                  </tr>

                  {%empty%}
                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1>No students</h1>
                      <p class="lead">Click the
                        <button type="button" class="btn btn-md btn-light ml-1 mr-1" data-toggle="modal" data-target="#exampleModalCenterStudentUpload{{measure.id}}">
                          <i data-toggle="tooltip" title="Add Students" class="fas fa-plus"></i>
                        </button>
                         button above to add students</p>
                    </div>
                  </div>

                  {%endfor%}
            </table>



          </div>
        </div>

    {%else%}

    <button type="button" class="btn btn-primary ml-4 mb-2" data-toggle="modal" data-target="#exampleModalCenterAddRubric{{measure.id}}">
        Add Rubric
      </button>
    {%endif%}
{%endif%}

{%if measure.tool_type == 'Test score'%}


    <div class = "row">

    <div class = " col col-lg-12 ml-3">
    <div class = "progress " style="background:#9aa1a7;
  ">
    <div class="progress-bar" role="progressbar" aria-valuenow="40"
    aria-valuemin="0" aria-valuemax="100" style="width:{{measure.statusPercent}}%;
      {%if measure.status == 'passing'%}
        background:green;
      {%elif measure.status == 'failing'%}
        background:red;
      {%endif%}
    ">
    satisfied
     by {{measure.statusPercent|floatformat:0}}%
    </div>
    </div>
    </div>
  </div>
    <hr/>

    <div class = "row">
      {%if measure.test_score %}

    <div class = "col col-lg-4 md-6 sm-12 xs-12">
        <div class="card bg-light ml-2 mb-3">
          <div class="card-header d-flex justify-content-between align-items-center"><h4 class = "">Associated Tool</h4>
            <a href = "{% url 'main:remove_test_association' measure.id outcome_id %}" class = "btn btn-light">
              <span style=" color: #7a2831;">
                <i class="far fa-trash-alt"></i>
            </span>
             </a>
          </div>
          <div class="card-body">
            <h5 class="card-title"> {{measure.test_score.test}}</h5>
            <p class="card-text"><em>Type: {{measure.tool_type}}</em></p>
            <div class = "text-center">
              <a href = "{%url 'main:view_test_score' measure.test_score.test measure.id%}" class = "btn btn-primary"> View Status </a>
            </div>
          </div>
        </div>


        <ul class="list-group" style="overflow-y:auto; height: 25vh">
          <li class="list-group-item card-header d-flex align-items-center justify-content-between"><h4>Evaluators</h4>

          <button type="button" class="btn btn-light  ml-3" data-toggle="modal" data-target="#exampleModalCenterAddEv2{{measure.id}}">
               <i data-toggle="tooltip" title="Add Evaluators" class="fas fa-plus"></i>
          </button>
          </li>
        {%for eval in measure.evaluator.all%}
            <li class="list-group-item d-flex  justify-content-between">
                <a href = "{%url 'main:assignments' eval.id measure.id outcome_id%}"  style="color:black;" >{{eval.name}}</a>
            <a href = "{%url 'main:remove_evaluator_access' eval.id measure.id outcome_id%}" class = "btn btn-sm btn-danger" style="font-size: 1em; color: white;">
              <i data-toggle="tooltip" title="Remove Evaluator" class="fas fa-user-slash"></i>
            </a>

              </li>

          {%endfor%}


        </ul>


      </div>
      {%else%}
      <div class = "col col-lg-4 md-6 sm-12 xs-12">
          <div class="card bg-light ml-2 mb-3">
            <div class="card-header d-flex justify-content-between align-items-center"><h4 class = "">Associated Tool</h4>
            </div>
            <div class="card-body">
              <h5 class="card-title"> no data entered yet</h5>
              <p class="card-text"><em>Type: {{measure.tool_type}}</em></p>
            </div>
          </div>


          <ul class="list-group" style="overflow-y:auto; height: 25vh">
            <li class="list-group-item card-header d-flex align-items-center justify-content-between"><h4>Evaluators</h4>

            <button type="button" class="btn btn-light  ml-3" data-toggle="modal" data-target="#exampleModalCenterAddEv2{{measure.id}}">
                 <i data-toggle="tooltip" title="Add Evaluators" class="fas fa-plus"></i>
            </button>
            </li>
          {%for eval in measure.evaluator.all%}
              <li class="list-group-item d-flex  justify-content-between">{{eval.email}}
              <a href = "{%url 'main:remove_evaluator_access' eval.id measure.id outcome_id%}" class = "btn btn-sm btn-danger" style="font-size: 1em; color: white;">
                <i data-toggle="tooltip" title="Remove Evaluator" class="fas fa-user-slash"></i>
              </a>
                </li>

            {%endfor%}


          </ul>


        </div>

      {%endif%}

    <div class = "col col-lg-4 col-md-6 col-sm-12 col-12">
      <div class = 'text-center'>
      <button type="button" class="btn btn-primary btn-lg ml-2 mb-1 mt-2" data-toggle="modal" data-target="#exampleModalCenterAddTestScore{{measure.id}}">
          Upload Test Score
      </button>
      <hr class = "style15" > </hr>
    </div>
    <h3 class = 'text-center'> Add individual scores </h3>
    <form class="ml-2" action = "{%url 'main:add_test_score' measure.id outcome_id%}" method = "POST">
      {%csrf_token%}
      <div class="form-group mb-2 ">
          <input type="text" name = "test_title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of the test" required
          {%if measure.test_score%}
            value = "{{measure.test_score.test}}"
          {%endif%}
          >
     </div>

      <div class="form-group mb-2">
          <input type="text" name = "student_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name of student" required>
     </div>
      <div class="form-group mb-2">
          <input type="number" name = "score" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="marks obtained" required>
     </div>
      <button type="submit" class="btn btn-primary  mb-2">Add Score</button>
    </form>
    <div class = 'text-center'>
      <hr class = "style15" > </hr>

    <button class="btn btn-lg btn-primary  ml-2 mt-2  mb-2" data-toggle="modal" data-target="#exampleModalCenterAddEvaluatorToTest{{measure.id}}">
    Assign students to Evaluators
    </button>
</div>
</div>


<div class = "col col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12" style="overflow-y:auto; height: 40vh;">
    <li class="list-group-item d-flex justify-content-between card-header  align-items-center"> <h4>Students</h4>

  <div class = "d-flex justify-content-between">
    <button type="button" class="btn btn-md btn-light mr-3" data-toggle="modal" data-target="#exampleModalCenterStudentUpload{{measure.id}}">
      <i class="fas fa-plus"></i>
    </button>

    <button type="button" class="btn btn-md btn-light" data-toggle="modal" data-target="#exampleModalLongExpandStudentList{{measure.id}}">
      <i class="fas fa-expand-arrows-alt"></i>
    </button>
  </div>

    </li>

  <table class = "table" style="background-color:#f8f9fa;">
    <tbody>
      {% for student in measure.student.all %}
      <tr class = "d-flex justify-content-between" style="border-bottom: 1px solid #7a2831;">
        <td class = "d-flex align-items-center">{{student.name}}</td>
        <td>
          <a href = "{%url 'main:delete_student' outcome_id measure.id student.id%}" class="btn btn-md mr-3">
                <span style="font-size: 1em; color: #7a2831;">
                    <i data-toggle="tooltip" title="Remove Student" class="fas fa-times"></i>
                </span>
          </a>
        </td>
        </tr>

        {%empty%}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1>No students</h1>
            <p class="lead">Click the
              <button type="button" class="btn btn-md btn-light ml-1 mr-1" data-toggle="modal" data-target="#exampleModalCenterStudentUpload{{measure.id}}">
                <i data-toggle="tooltip" title="Add Students" class="fas fa-plus"></i>
              </button>
               button above to add students</p>
          </div>
        </div>

        {%endfor%}
  </table>









  <div class="modal fade" id="exampleModalCenterAddEv2{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add evaluator</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form class="" action = "{%url 'main:add_evaluator' outcome_id measure.id %}" method = "POST">
            {%csrf_token%}
            <label for="exampleFormControlSelect2">Invite new evaluator</label>

            <div class="form-group mb-2">
                <input type="text" name = "evaluator_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name" required>
           </div>
            <div class="form-group mb-2">
                <input type="email" name = "evaluator_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
           </div>

           <button type="submit" class="btn btn-primary mb-2">Add Evaluator</button>

          </form>
           <hr class = "style15"> </hr>
           <form class="" action = "{%url 'main:add_preexisting_evaluator' outcome_id measure.id %}" method = "POST">
            {%csrf_token%}

           <div class="form-group">
            <label for="exampleFormControlSelect2">Select Pre existing evaluators </label>

            <select multiple class="form-control  form-control-lg" id="exampleFormControlSelect2" name="evaluators" required>
              {%for ev in evaluator%}
                  <option value="{{ev.id}}">{{ev.name}}</option>
            {%endfor%}
            </select>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Add Evaluator</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>

<div class = "col col-lg-4 md-12 sm-12 xs-12">


</div>



</div>


  {%endif%}


      <div class="modal fade" id="exampleModalCenterAddRubric{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Select rubrics for the measure</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action = "{%url 'main:add_rubric_to_measure' measure.id outcome_id %}" method="POST">
                {%csrf_token%}
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Select from a previous rubric</label>
                  <select class="form-control" id="exampleFormControlSelect1" name ="select_rubric">
                      {%for rubric in rubrics%}
                        <option>{{rubric.title}}</option>
                      {%endfor%}
                  </select>
                </div>


                <div class="modal-footer">
                  <a href = "{%url 'main:test_rubric'%}"> create a new one </a>
                  <button type="submit" class="btn btn-primary">Add Rubric</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModalCenterAddEvaluatorToTest{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add evaluator</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{%url 'main:assign_evaluatorToTest' measure.id outcome_id%}" method="POST">
                {%csrf_token%}

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Evaluator</label>
                    <select class="form-control" id="exampleFormControlSelect1" name = "evaluator_email" required>
                      {%for ev in evaluators%}
                      <option value="{{ev.email}}">{{ev.name}}</option>
                      {%endfor%}
                    </select>
                  </div>

                      <div class="form-group">
                       <label for="exampleFormControlSelect2">Select Students</label>
                       <select multiple class="form-control  form-control-lg" id="exampleFormControlSelect2" name="students" required>
                         {%for student in measure.student.all%}
                         <option value="{{student.name}}">{{student.name}}</option>
                         {%endfor%}
                       </select>
                     </div>


                  <button type = "submit" class = "btn btn-primary"> Assign </button>
                </form>

                </div>


            </div>
          </div>
        </div>



      <div class="modal fade" id="exampleModalCenterAddTestScore{{measure.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add test score</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action = "{%url 'main:upload' measure.id outcome_id%}"method="post" enctype="multipart/form-data">
              {%csrf_token%}
              <div class="form-group">
                <label for="exampleInputEmail1">Test Title</label>
                <input type="textarea" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="title of the test"
                name="test_title" required
                {%if measure.test_score%}
                  value = "{{measure.test_score.test}}"
                {%endif%}
                >
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Full Marks</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="max obtainable points"
                name="max_points">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Upload Scores</label>
                <small id="emailHelp" class="form-text text-muted">inside the csv file, place students name followed by their score </small>
                <a href = "{%url 'main:download_test' measure.id%}"> see example </a>

              </div>

                <input type="file" name="csv_file" />
                <button type="submit" class="btn btn-primary">Upload</button>
              </form>
              </div>
          </div>
        </div>
      </div>





  </div>
      {%endif%}


    {%empty%}
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">No measures associated</h1>
    <p class="lead">Please press the
      <button type="button" class="btn btn-primary btn-lg ml-1 mr-1" data-toggle="modal" data-target="#exampleModalCenterNewMeasure{{outcome.id}}" data-measure-id = "{{measure.id}}">
         <i class="fas fa-plus"></i>
       </button>


       button to add new measures</p>
  </div>
</div>
    {%endfor%}



    </div>
  </div>
</div>

</div>
</div>




<script type="text/javascript">
  $(document).ready(function(){
    $('a[data-toggle = "list"]').on('show.bs.tab',function(e){
      localStorage.setItem('activeTab',
      $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    console.log(activeTab);
    if(activeTab){
      $('#list-tab a[href="' + activeTab + '"]').tab('show');
    }
  });

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{%endblock%}
