{% extends  'main/evaluatorbase.html' %}
{% load static %}
{% block body_block %}
<style>
  .card-header {
      background-color: #800029;
      color: rgb(252, 248, 242);
  }
</style>

<div class = "container" style="overflow-y:scroll; height: 80vh;">
<table class="table" >
  <thead class="sticky-top card-header">
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Measure Title</th>
      <th scope="col">Score</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    {%for evaluation in evaluations%}
    <tr>
      <td> {{evaluation.student}}</td>
      <td>  {{evaluation.measure.measureTitle}}</td>
      <td class = "justify-content-between">
      {{evaluation.grade_score|floatformat:2}}
      </td>
      <td>
        <a href = "{%url 'main:edit_evaluation_student' evaluation.id%}" class = "btn btn-warning">Edit</a>
      </td>
      <!-- <td>
        <a href = "{%url 'main:view_score' evaluation.id%}" class = "btn btn-warning">View</a>
      </td> -->
    </tr>

    {%endfor%}

    {%for score in scores%}
      {%if score.type == 'Test score'%}
    <tr>
      <td> {{score.student_name}}</td>
      <td>  {{score.measure.measureTitle}}</td>
      <td class = "justify-content-between">
      {{score.grade}}
      </td>
      <td>
        <a href = "{%url 'main:edit_test_score' score.measure.id score.student_name%}" class = "btn btn-warning">Edit</a>
      </td>
    </tr>
    {%endif%}
    {%endfor%}
  </tbody>
</table>

</div>
{%endblock%}
