{% extends  'main/evaluatorbase.html' %}
{% load static %}
{% block body_block %}
<style>
  .card-header {
      background-color: #800029;
      color: rgb(252, 248, 242);
  }
</style>

<div class = "container">
  <div class = "row">
  <div class = "col col-lg-10 col-md-10 col-sm-12 col-xs-12 col-12"  style="overflow-y:scroll; height: 80vh;">
<table class="table" >
  <thead class="card-header">
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Measure Title</th>
      <th scope="col">Score</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    {%for evaluation in evaluations%}
    <tr style="background-color: #e5e8ff;">
      <td> {{evaluation.student}}</td>
      <td>  {{evaluation.measure.measureTitle}}</td>
      <td class = "justify-content-between">
      {{evaluation.grade_score|floatformat:2}}
      </td>
      <td>
        <a href = "{%url 'main:edit_evaluation_student' evaluation.id%}" class = "btn btn-warning">Edit</a>
      </td>
      <!-- <td>
        <a href = "{%url 'main:view_score' evaluation.id%}" class = "btn btn-warning">View</a>
      </td> -->
    </tr>

    {%endfor%}

    {%for score in scores%}
      {%if score.type == 'Test score'%}
    <tr style="background-color: #edd7d2">
      <td> {{score.student_name}}</td>
      <td>  {{score.measure.measureTitle}}</td>
      <td class = "justify-content-between">
      {{score.grade}}
      </td>
      <td>
        <a href = "{%url 'main:edit_test_score' score.measure.id score.student_name%}" class = "btn btn-warning">Edit</a>
      </td>
    </tr>
    {%endif%}
    {%endfor%}
  </tbody>
</table>
</div>


<div class = "col col-lg-2 col-md-2 col-sm-12 col-xs-12 col-12 ">
  <div class="card border-dark mb-3 " style="max-width: 18rem; ">
  <div class="card-header"><h4>Legend</h4></div>
  <div class="card-body text-dark" style="background-color: #e7ff91;">
    <h5 class="card-title" style="height:15px; width:15px; background-color: #edd7d2; border: 2px solid black;">
    </h5>
    <p class="card-text">Test scores</p>
    <h5 class="card-title" style="height:15px; width:15px;background-color: #e5e8ff; border: 2px solid black;">
    </h5>
    <p class="card-text">Rubric scores</p>

  </div>
</div>
</div>
</div>
</div>
{%endblock%}
