{% extends  'base.html' %}
{%load static%}
{% block body_block %}
<style>
  td{
    font-size: 1rem;
  }
</style>

<div class  = "container-fluid " id = "main_content" style = "margin-top: 15px;padding:15px;">
<div class = "row">
  <div class = "col col-lg-9 col-md-9 col-sm-12 col-xs-12 col-12">
    <div class = "table-responsive">
      <table class = "table table-bordered table-hover">

        <thead>
          <div class = "d-flex justify-content-between" >
          <button class = "btn btn-warning mb-3">
            <strong>Measure Objective: </strong>
            <em>

          {{measure.cutoff_percentage}} % of the students need to get
          {%if measure.cutoff_score%}
           {{measure.cutoff_score}}
           {%else%}
           average
           {%endif%}
              or higher
          on {{measure.tool_type}}
          </em>
          </button>
          <div class = " d-flex justify-content-center align-items-center">
            {%if passed%}
              <div style = "background-color:green; height:30px; width: 30px; border-radius: 50%;   margin-right: 5px;"></div> Measure Passed
            {%else%}
              <div style = "background-color:red; height:30px; width: 30px; border-radius: 50%;   margin-right: 5px;"> </div>Measure Failed
            {%endif%}
          </div>
          </div>

          <tr>
             <td> Rubric </td>
             <td> Student </td>
             <td> Score </td>
             <td> Breakdown </td>
             <td> Evaluated by </td>
             <td> Status </td>
          </tr>
        </thead>
        <tbody>

          {%for st in evaluated_list%}

           <tr>
              <td> {{st.measure.rubric}} </td>
              <td> {{st.student_name}} </td>
              <td> {{st.grade|floatformat:2}} </td>
              <td>
                <table style="width:100%;">
                  <tr>
              {%for cat in ev_cats%}
                {%if cat.student.id == st.id%}
                 <td class = "text-center"> {{cat.header}} <br/>
              {{cat.score}} </td>
                {%endif%}
              {%endfor%}
                </tr>
                </table>
              </td>

              <td> {{st.evaluator.name}} </td>

              {%if st.student_name in bin_array%}
                <td> <div style = "background-color:green; height:20px; width: 20px; border-radius: 50%;"></div> </td>
              {%else%}
                  <td><div style = "background-color:red; height:20px; width: 20px; border-radius: 50%;"> </div></td>
              {%endif%}
          {%endfor%}
    </tr>

          </tbody>
          </table>
          </div>
        </div>
        <div class = "col col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12 mt-5">
          <div class="card bg-light mb-3" >
            <div class="card-header">Stats</div>
            <div class="card-body">
              <h5 class="card-title">Total students</h5>
              <p class="card-text">{{student_count}}</p>

              <h5 class="card-title">Students Evaluated</h5>
              <p class="card-text">{{evaluated_student_count}}</p>

              <h5 class="card-title">Students passed</h5>
              <p class="card-text">{{number_of_pass_cases}} / {{percent_pass_cases|floatformat:2}}% passed the measure</p>

            </div>
          </div>

          <div class="card bg-light mb-3">
            <div class="card-header">Stats</div>
            <div class="card-body">
              <h5 class="card-title">Class Average</h5>
              <p class="card-text">{{rubric_average|floatformat:1}}</p>

              <h5 class="card-title">Students above average</h5>
              <p class="card-text">{{above_rubric_average}}</p>
            </div>
          </div>

        </div>

  </div>

{%endblock%}
