{%load static%}

<!DOCTYPE html>
<html>
<head>
	<title>Create Rubrics</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS cdn to connect bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href = "{% static 'css/landing.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Lato|Merienda|Merriweather|Ropa+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script type="text/javascript" src = "{%static 'js/script.js'%}"></script>

</head>

<body>

  <div class = "container" id = "main_content">

	<h1>Create Rubrics</h1>

	<form >
    <div class = "row">
      <div class = "col col-lg-4">
		      <input placeholder="enter number of rows" class = "form-control" type="text" name="rows" id="rows"><br />
      </div>
      <div class = "col col-lg-4">
		      <input placeholder="enter number of columns" class = "form-control" type="text" name="cols" id="cols" onchange='createTable();'><br/>
      </div>



		</div>
		<div  id="rubricframe">

		</div>


	  <div>
			<form action = "{%url 'main:rubric'%}" method="POST">
				{%csrf_token%}
		    <button class = "btn btn-lg btn-primary btn-block" type="submit"> Add Rubric </button>
		
			</form>
		</div>
	</div>

	</form>
	<br>







</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src = "{% static 'js/app.js'%}"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
