{% extends 'base.html' %}
{%load static%}



{%block body_block%}
<style>
#main_content{
	/* max-width: 25%; */
	/* border: 3px solid black;
	padding: 2%;*/
	margin-top: 10%;
}
@media (max-width: 576px) {
	#main_content{
		margin-top: 25%;
	}
}

</style>

<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
</script>
<div class = "container card border-dark p-3" id = "main_content" style="width: 20rem;">

<div class="row align-self-center justify-content-center" style="width: 20rem;">
	<h1 class = "text-center">Create Rubrics</h1>
	<br/>
  <form action = "{% url 'main:test_rubric'%}" method = "POST">
    {% csrf_token %}
		 <div class="form-group">
    	<input class = "form-control" type = "number" name = "rows" placeholder="enter the number of rows" data-toggle="popover" title="Number of Rows" data-placement="right" data-content="# of criteria + 1" data-trigger="hover" required >
		</div>
		<div class="form-group">
    	<input class = "form-control" type = "number" name = "cols" placeholder="enter the number of columns" data-toggle="popover" title="Number of Columns" data-placement="right" data-content="# of values/words in grading scale + 1" data-trigger="hover" required >
		</div>


		<div class="form-group">
    <label for="exampleFormControlSelect1">Weighted Rubric?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="weight" id="wei">
			<option value="no">No</option>
			<option value="yes">Yes</option>
    </select>
	<label for="exampleFormControlSelect1">Order</label>
    <select class="form-control" id="exampleFormControlSelect1" name="asc" id="asc">
			<option value="ascending">Ascending</option>
			<option value="descending">Descending</option>
    </select>
  </div>

    <button class = "btn btn-primary btn-block btn-lg" type = "submit"> Create </button>
		<br>
		<div class="text-right">
		<div class="dropdown">
	     <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Help
	     <span class="caret"></span></button>
	     <ul class="dropdown-menu">
				 <li class="dropdown-header" data-toggle="popover" title="Number of Rows" data-placement="right" data-content="The number of rows should includ a row for the grading values, and a row for each criterion (ie. 5 criterion, 1 + 5 = 6 rows)" data-trigger="hover" ><a href="#">Rows</a></li>
	       <li class="dropdown-header" data-toggle="popover" title="Number of Columns" data-placement="right" data-content="The number of columns should include a column for the critera list, and a column for each grading value (ie. rubric scale is 1-5, 1 + 5 = 6 columns. If using words such as poor, average, mastery, advanced; 4 words + 1 = 5)" data-trigger="hover" ><a href="#">Columns</a></li>
				 <li class="dropdown-header">Weighted</li>
				 <center><li class="dropdown-header" data-toggle="popover" title="Select Yes" data-placement="right" data-content="If the criterion will not be graded equally. The weights for each criterion will be applied during rubric creation." data-trigger="hover" ><a href="#">Yes</a></li></center>
				 <center><li class="dropdown-header" data-toggle="popover" title="Select No" data-placement="right" data-content="If the criterion will be graded equally" data-trigger="hover" ><a href="#">No</a></li></center>
				 <li class="dropdown-header">Ordered</li>
				 <center><li class="dropdown-header" data-toggle="popover" title="Select Ascending" data-placement="right" data-content="If the rubric values will be labled worst to best (ie. Poor-Excellent, 1-5)" data-trigger="hover" ><a href="#">Ascending</a></li></center>
				 <center><li class="dropdown-header" data-toggle="popover" title="Select Descending" data-placement="right" data-content="If the rubric will be scored best to worst (ie. Excellent-Poor, 5-1)" data-trigger="hover" ><a href="#">Descending</a></li></center>

	     </ul>
	   </div>
		 </div>
		</form>
	</div>
</div>


{%endblock%}
