{% extends  'base.html' %}
{%load static%}
{% block body_block %}

<div class  = "container-fluid" id = "main_content">
  <div class = "container" style = "margin-top: 15px;padding:1%;" >



    <br/>
    <table class = "table table-bordered ">

      <thead>
        <div class = "d-flex justify-content-between" >

          <button class = "btn btn-warning mb-3">
            <strong>Measure Objective: </strong>
            <em>
          {{measure.cutoff_percentage}} % of the students need to get
          {%if measure.cutoff_score%}
           {{measure.cutoff_score}}
           {%else%}
           average
           {%endif%}
              or higher
          on {{measure.tool_type}}
         </em>
          </button>

          <div class = "d-flex justify-content-center">
          {%if passed%}
            <div  style = "background-color:green; height:40px; width: 40px; border-radius: 50%; margin-right: 5px;"></div><p> Measure Passed</p>
          {%else%}
            <div style = "background-color:red; height:40px; width: 40px; border-radius: 50%;  margin-right: 5px;"> </div><p>Measure Failed by<em> {{margin|floatformat:"0"}}</em>% </p>
          {%endif%}
          </div>
        </div>
        <tr>
           <td> Test Name </td>
           <td> Student </td>
           <td> Score </td>
           <td> Status </td>

        </tr>
      </thead>
      <tbody>

        {%for st in test_score%}
         <tr>
            <td> {{st.test}} </td>
            <td> {{st.student}} </td>
            <td> {{st.score}} </td>
            {%if st.student.name in bin_array%}
              <td> <div style = "background-color:green; height:20px; width: 20px; border-radius: 50%;"></div> </td>
            {%else%}
                <td><div style = "background-color:red; height:20px; width: 20px; border-radius: 50%;"> </div></td>
            {%endif%}
        {%endfor%}
  </tr>

        </tbody>
        </table>
  </div>
</div>

{%endblock%}
