
{% extends  'base.html' %}
{% load static %}
{% block body_block %}


  <div class = "container" id = "main_content">
<div class = "row">
  <div class = "col col-lg-3">
    <div id = "upload">
      <h3 class = "list-group-item active"> Upload students </h3>
      <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>
</div>
</div>
</div>
{%endblock%}
