{% load static %}
body{
  height: 100vh;
  background: rgb(131,58,180);
  background: linear-gradient(318deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#main_content{
  margin-top: 20vh;
  border: 0.7px solid #BF360C;
  border-radius: 15px;
  width: auto;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: -1px 3px 17px -1px rgba(22,22,2,0.58);
  -webkit-box-shadow: -1px 3px 17px -1px rgba(22,22,2,0.58);
  -moz-box-shadow: -1px 3px 17px -1px rgba(22,22,2,0.58);
}

.login_opts{
  margin: 10px;
  font-family: "Merienda";
}

#logo{
  height: 300px;
  width: 300px;
}

.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196f3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 25px;
  transition: all 0.25s ease-out;
}
