{% load static %}
body{
  height: 100vh;


}


.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196f3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 25px;
  transition: all 0.25s ease-out;
}



th, label{
  font-size: 1.5rem;
}

td{
  font-size: 1.5rem;
}

.alert{
  margin: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0.5px solid #007aff;
  font-size: 1.5rem;
  z-index: 1;
}

.active{
  border-bottom: 2px solid black;
}

.nav-item{
  font-size: 1.5rem;
}

#card-border-dark-mb-3{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 40vh;
    overflow: scroll;
}
